[2022-06-16 18:32] eflumerf opened #124 "Should we start bundling rgang with artdaq so that we have it available at experiments that we are supporting?"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/20345 (FNAL account required)*
*Originally created by @bieryAtFnal on 2018-07-18 16:08:59*

----

Any downside?  I doubt that, but maybe there is some history that I don't remember.

[2022-06-16 18:33] eflumerf opened #118 "Create one or more simple_test_configs that are as similar to protoDUNE DAQ that we can get and stress test them on the Mu2e Pilot cluster"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/20388 (FNAL account required)*
*Originally created by @bieryAtFnal on 2018-07-21 22:35:03*

----

It should have as many BoardReaders as is feasible, 8-16 EventBuilders, a Dispatcher, and online monitoring.

It should use as many Mu2edaq cluster nodes as is feasible, ideally 4-6 or more.

It should include the RoutingMaster.

[2022-06-16 18:33] eflumerf commented on #118
*Comment by @ron003 on 2018-07-25 18:34:21*

----

At this point the simple_test_config/mediumsystem_with_routing_master is the primary "simple config"

[2022-06-16 18:33] eflumerf commented on #118
*Comment by @bieryAtFnal on 2018-08-01 18:56:06*

----

branch in artdaq_daqinterface called mu2edaq_stresstest

the simple_config name is protodune_mock_system.
24 components  ( 1 in push, 4kfragments; even numbered components 1 MB, rest 15 MB fragments)
16 EBs
Routing Master
25 Hz
total rate of 5000 MB/s ; will saturate 4 EB nodes
no disk writing

without disk writing, there should be no back-pr

[2022-06-16 19:07] eflumerf opened #117 "Add support for "#includes" before PROLOGs in the db layer."

[2022-06-16 19:09] eflumerf opened #122 "daqinterface, when recovery is disabled, could/should have the ability to rgang to all the nodes to freeze the trace buffers"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/20641 (FNAL account required)*
*Originally created by @ron003 on 2018-08-20 14:17:40*

----

In the feature/protodune_mock_system_with_delay of artdaq-utilities-daqinterface, I've
modified rc/control/daqinterface.py to get a list of nodes to rgang to to freeze trace buffers.
This would need to be cleaned up by adding a config

[2022-06-16 19:09] eflumerf commented on #122
*Comment by @jcfreeman2 on 2018-10-09 18:17:06*

----

Technically that's straightforward. Here's what I'm thinking, let me know if you have thoughts on it:

1) DAQInterface determines what the TRACE_FILE would be by searching for that environment variable getting set in the script it sources before launching processes (e.g., setupARTDAQDEMO)

2) On every node, if we were in the running state befo

[2022-06-16 19:09] eflumerf commented on #122
*Comment by @ron003 on 2018-10-12 18:20:29*

----

This all sounds good with the addition that before the copy of the TRACE file, a "tfreeze" should be performed.
For art-daq/artdaq#3, if you want to discuss, stop by or let me know when/where or we can conference.

[2022-06-16 19:10] eflumerf opened #123 "Process for managing Online Monitors"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21116 (FNAL account required)*
*Originally created by @eflumerf on 2018-10-11 19:10:03*

----

Currently, when running multiple runs within a single instance of the DAQ, any connected online monitors are disconnected (and terminate) at the end of the first run. It might be nice to have some process which can listen for XMLRPC

[2022-06-16 19:12] eflumerf opened #121 "daqinterface starting multiple msgviewer per partition"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21946 (FNAL account required)*
*Originally created by @ron003 on 2019-02-21 22:52:30*

----

multiple "just_do_it.sh" invocations produce multiple message viewers per partition.
For example, having just_do_it environments for partition 0 and partition 3 and doing 2 just_do_it.sh calls in each
produces:
<pre>
/root
mu2edaq01 :

[2022-06-16 19:12] eflumerf commented on #121
*Comment by @jcfreeman2 on 2019-02-23 19:05:49*

----

Fixed on feature/issue21946_multiple_msgviewers_launched (HEAD is ea4ddd87d517a4b8f1e063294b2e3d26b0c89649)

The problem is that the is_msgviewer_running() function which DAQInterface calls to determine if there's already a msgviewer window launched from its terminal broke when stdin for DAQInterface was disabled with a "<&-" as the solution t

[2022-06-16 19:12] eflumerf commented on #121
*Comment by @ron003 on 2019-02-26 22:58:25*

----

I ran the demo, killed everything, merged feature/issue21946_multiple_msgviewers_launched into develop,
ran run_demo.sh, then reran just_d_it.sh and another msgviewer started.
git log:
<pre>
commit 15f9b77360d345ece6a84fbfb44f5f18cff1f34d
Merge: d9bf35e ea4ddd8
Author: Ron <ron@fnal.gov>
Date:   Tue Feb 26 16:50:19 2019 -0600

    Merge branch 'fe

[2022-06-16 19:12] eflumerf commented on #121
*Comment by @jcfreeman2 on 2019-02-27 18:41:23*

----

After some investigating, I've determined that this is a rare case in which merging the feature branch into develop didn't actually bring in the desired changes- so the failed test above was actually testing the original, buggy algorithm. I've sent an email to Ron describing why the merge didn't do what it typically does and how to work around

[2022-06-16 19:45] eflumerf opened #120 "DAQInterface makes inappropriate assumptions about versions of software being used"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/22777 (FNAL account required)*
*Originally created by @bieryAtFnal on 2019-06-20 15:32:27*

----

Just because a particular version of a software package is included in the "srcs" area of an MRB development area, it doesn't mean that that version was used in a particular run.

As a simple example from protoDUNE...  If I cd in

[2022-06-16 19:45] eflumerf commented on #120
*Comment by @bieryAtFnal on 2019-06-20 15:34:07*

----

I should have said that I look in metadata.txt to determine the reported versions of software.

[2022-06-16 19:45] eflumerf commented on #120
*Comment by @jcfreeman2 on 2019-06-20 16:34:18*

----

It's true that the git commit hashes which are saved in the run record (metadata.txt) are literally just the most recent commit hashes found in the ./srcs area. To get these values to tell us for certain what code was used, we need to ensure that the built code matches up with these commit hashes. So, I can do the following:

- Have DAQInterfa

[2022-06-16 19:45] eflumerf commented on #120
*Comment by @bieryAtFnal on 2019-06-20 17:20:23*

----

I don't want any changes that make the system harder to use, so any options with "DAQInterface refuses to boot" in the description don't seem like good ones to me.

I like the idea of comparing what is in the UPS package "source" area with what is in the MRB sources area.  If those match, then it seems like it should be safe to use some of th

[2022-06-16 19:45] eflumerf commented on #120
*Comment by @jcfreeman2 on 2019-06-20 18:04:01*

----

After discussing this with Kurt, what we decided was the following: if a package has a git repo in the development area, then for that package DAQInterface will perform a diff between the git repo's most recent local commit hash (i.e., the commit which gets saved in metadata.txt) and the code that was found in ups; the number of lines which we

[2022-06-16 19:46] eflumerf commented on #120
*Comment by @jcfreeman2 on 2019-07-09 21:22:09*

----

This post describes the behavior of commit a3bbc0746c0985bc1eda7f5c6583da181cda0a42 at the current head of feature/issue22777_more_accurate_record_of_code.

On the develop branch, when saving a package's code info to the run record, it will just save either (A) the most recent commit and the commit comment, if the git repo is available, or (B)

[2022-06-16 19:46] eflumerf commented on #120
*Comment by @jcfreeman2 on 2019-07-10 20:09:48*

----

After showing Kurt the functionality described in the post above, he recommended that I add the time of the commit so it can be compared to the build time. This has been done. With the head of feature/issue22777_more_accurate_record_of_code, 0de54ea99c8e9dbbfd1099cbfa42615a6fc44c1e, I'm marking the issue resolved.

[2022-06-16 19:46] eflumerf commented on #120
*Comment by @jcfreeman2 on 2019-07-10 20:41:06*

----

Removing the "resolved" and reverting to "work in progress", since Ron just had a good suggestion: that if a package isn't installed as a ups product, it still may have BuildInfo values in the mrb area's build_slf7.x86_64 subdirectory.

[2022-06-16 19:46] eflumerf commented on #120
*Comment by @jcfreeman2 on 2019-07-10 22:14:56*

----

Marking this issue as resolved again. With commit 532d45c0ae881472e259badc2fc7265dda2bf0dc, if DAQInterface sees that a ups product for the package in question isn't set up by the DAQ setup script, instead of giving up on finding a PackageBuildInfo.cc file, it'll look for the file in the local build subdirectory of the mrb area.

[2022-06-16 19:46] eflumerf commented on #120
*Comment by @bieryAtFnal on 2019-07-17 20:55:11*

----

I have verified the expected behavior in an artdaq-demo system on the mu2edaq cluster.

Here are the differences between the newer and older style, for one package:

< artdaq commit/version: 271f3fea4a6018c6d23fcabe2fb71df6f03471d6 4 4 "un-comment the optional packages in product_deps t..." "Wed Jul 17 14:12:19 2019 -0500" "17-Jul-2019 20:17:

[2022-06-16 19:47] eflumerf opened #119 "artdaq boot sequence takes significant time for ICARUS daq"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23764 (FNAL account required)*
*Originally created by Bruce Howard on 2019-12-13 20:22:54*

----

We've been noticing that our artdaq boot sequence takes a seemingly significant chunk of time with just a few components included, which worries us about when we move to have a full detector booting.

----

***Related issues:***

[2022-06-16 19:47] eflumerf commented on #119
*Comment by @wbadgett on 2019-12-17 17:53:25*

----

The implied request here is:  Can you boot components in parallel?   They *appear* to be launching in sequence in the current DAQInterface

[2022-06-16 19:47] eflumerf commented on #119
*Comment by @wbadgett on 2019-12-17 17:53:53*

----

NB: I would put this at high priority

[2022-06-16 19:47] eflumerf commented on #119
*Comment by @jcfreeman2 on 2019-12-19 18:37:57*

----

At an artdaq meeting yesterday, we discussed this request. There are two ways to speed up the boot process:

1) The time it takes DAQInterface to perform a boot transition is very much related to the time taken by a source-ing of the DAQ setup script (i.e., the script referred to by the "DAQ setup script" field in the file passed to DAQInterfa

[2022-06-16 19:47] eflumerf commented on #119
*Comment by @jcfreeman2 on 2019-12-19 18:42:19*

----

Concerning (2), above: note that if DAQInterface launches processes in parallel, the experiment will need to make sure that collisions won't occur if the DAQ setup script is sourced simultaneously across nodes (access to the same resource, etc.)

[2022-06-16 19:47] eflumerf commented on #119
*Comment by @wbadgett on 2019-12-19 18:46:28*

----

I do understand your concerns, but on the hardware side contention usually becomes an issue on the **configure** transition.  Of course, system resources may be an issue, we just have to try it out.

[2022-06-16 19:47] eflumerf commented on #119
*Comment by @jcfreeman2 on 2019-12-19 21:10:36*

----

I'll need ICARUS to perform a test. Allow me to explain:

With one caveat which I'll describe in a moment, it appears DAQInterface **does** in fact launch the processes in parallel across nodes based on tests I've performed this afternoon on the mu2edaq cluster. You can confirm this for yourself if you take your DAQ setup script and at the top

[2022-06-16 20:13] eflumerf opened #2 "~/.setup_fhiclcpp potential/actual problem"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/20966 (FNAL account required)*
*Originally created by @ron003 on 2018-09-27 16:59:38*

----

I don't know how I ended up with a bogus ~/.setup_fhiclcpp file, but it prevented the demo from
running.  If this file is needed, it should, at a minimum be created under the demo root.

[2022-06-16 20:13] eflumerf commented on #2
*Comment by @jcfreeman2 on 2018-09-27 20:24:13*

----

The ~/.setup_fhiclcpp in question which Ron showed me contained a reference to /nfs/sw/artdaq/products, a directory found on the protoDUNE cluster; this would have caused a failure since running was performed on the mu2edaq cluster. It's likely DAQInterface had been run from the feature/protodune branch and created this ~/.setup_fhiclcpp.

As

[2022-06-16 20:13] eflumerf commented on #2
*Comment by @jcfreeman2 on 2018-09-28 21:03:27*

----

Commit 6b6c25654118e29927d5813a6d9eb5c8ee877d8b on DAQInterface's develop branch satisfies the requirements laid out in the previous comment on this Issue.

[2022-06-16 20:13] eflumerf opened #105 "Implement the transition scripts called by sdaqinterface.py for high-level control of artdaq processes"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/14606 (FNAL account required)*
*Originally created by @jcfreeman2 on 2016-11-22 23:22:03*

----

Recently, in artdaq-utilities-sdaqinterface (http://cdcvs.fnal.gov/projects/artdaq-utilities-sdaqinterface), a "simple daqinterface" script, sdaqinterface.py, was implemented. This script respects a set of state transitions, where

[2022-06-16 20:13] eflumerf commented on #105
*Comment by @jcfreeman2 on 2016-11-22 23:30:26*

----

Work has already been done on this project; as of this writing it can be found on github, https://github.com/jcfreeman2/DAQInterface.git , though we should think about where to give it a permanent home. It's basically a modification of the DAQInterface python code used on the 35ton experiment; an email describing in detail my plans for it was

[2022-06-16 20:13] eflumerf commented on #105
*Comment by @jcfreeman2 on 2016-12-20 23:21:34*

----

The needed SDAQ_*.sh scripts have been added to artdaq-utilities-daqinterface (http://cdcvs.fnal.gov/projects/artdaq-utilities-daqinterface) via commit 23a67b638a8fdb58e243b8436ea31dedbefbf783 , and I've been able to control DAQInterface by running the rundaq.py script from the commit b49c0fac51e6972876c562f56d581f0bc130cf5c version of artdaq-

[2022-06-16 20:13] eflumerf opened #106 "Improve error handling in DAQInterface"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/15267 (FNAL account required)*
*Originally created by @jcfreeman2 on 2017-01-20 20:26:01*

----

Right now, under certain error conditions, DAQInterface will shut down, but a thread of execution will continue at the same time as the shutting-down procedure, creating excessive output and making it more difficult to find the er

[2022-06-16 20:14] eflumerf commented on #106
*Comment by @jcfreeman2 on 2017-01-27 20:17:26*

----

While it's always possible to make improvements (https://en.wikipedia.org/wiki/Kaizen) with commit 32cc52fbf0a9dd537f615816df75bde581527a80 of artdaq-utilities-daqinterface, most of the needs for improved error handling as described above have been satisfied: where possible, exceptions will no longer escape the user-called transition functions

[2022-06-16 20:14] eflumerf opened #107 "daqinterface fails to boot the system when there are no boardreader log files"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/15356 (FNAL account required)*
*Originally created by @bieryAtFnal on 2017-01-28 21:40:00*

----

This is probably a low-priority issue, but I've noticed that when I start with a freshly installed system, daqinterface fails to boot the system until there are one or more boardreader*.log files in the boardreader log subdirecto

[2022-06-16 20:14] eflumerf commented on #107
*Comment by @jcfreeman2 on 2017-01-31 20:03:21*

----

I'm dealing with this via commit 360720e3157bb64abc72cd444b80b3b5579a7e7e. DAQInterface will check for the logfiles up to five times (with a 2-second pause between each check) before giving up. This way on a freshly-installed system a little time will be granted for the logfiles to show up before an exception is thrown.

[2022-06-16 20:14] eflumerf opened #108 "It might be helpful for daqinterface to use separate run_record_attempted directories per user"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/15357 (FNAL account required)*
*Originally created by @bieryAtFnal on 2017-01-28 21:43:24*

----

or create the directory in /tmp with world write permissions.

Sat Jan 28 22:40:51 CET 2017: CONFIG transition underway
Sat Jan 28 22:40:51 CET 2017: Config name: demo_safemode
Sat Jan 28 22:40:51 CET 2017: Selected DAQ comps: {'

[2022-06-16 20:14] eflumerf commented on #108
*Comment by @jcfreeman2 on 2017-01-30 19:16:01*

----

With commit f71a23a23cfce7f6fa363d010e96285edbaa5e01, each user gets their own directory of the form "/tmp/run_record_attempted_<username>", where username is actually the value stored in the $USER environment variable.

[2022-06-16 20:14] eflumerf opened #104 "Include scripts to help determine correct value for TCP receive buffers"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/15619 (FNAL account required)*
*Originally created by @eflumerf on 2017-02-21 20:27:47*

----

The TCPSocket_transfer class uses either a manually-set receive buffer or the kernel autotuning. We should provide scripts/tools to help determine the correct manual setting for a given DAQ envrionment.

[2022-06-16 20:14] eflumerf opened #103 "Improved handling of messageviewer by DAQInterface"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/15738 (FNAL account required)*
*Originally created by @jcfreeman2 on 2017-03-03 21:04:57*

----

Currently, the default behavior of DAQInterface is to launch a messageviewer window every time the boot transition is issued, and the window remains persistent after DAQInterface is killed. While this is useful in that (A) you're

[2022-06-16 20:14] eflumerf commented on #103
*Comment by @eflumerf on 2017-03-03 22:14:18*

----

A while back, Ryan asked for a "Clear" button to be added to the Viewer. I added this, and it was sufficient for his needs, but I did have the idea of supporting multiple "message buffers", so that you could "clear" and have new messages written to a new buffer, but still be able to page through older buffers' messages. If I added this functiona

[2022-06-16 20:14] eflumerf commented on #103
*Comment by @jcfreeman2 on 2017-03-03 22:55:02*

----

With commit 64b4dd53c50367eecf8081ffa8056a5414df13c2 on the develop branch, it's now the case that if a pre-existing messageviewer is associated with the same terminal as DAQInterface, DAQInterface won't launch a new messageviewer when sent the boot transition. This isn't completely ideal, though, in that if you've launched DAQInterface from a

[2022-06-16 20:14] eflumerf opened #102 "Provide an option to DAQInterface in which it's not in charge of the artdaq processes"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/15749 (FNAL account required)*
*Originally created by @jcfreeman2 on 2017-03-06 22:00:45*

----

Motivated by the desire on protoDUNE to use JCOP to possibly create, monitor, and/or send transitions to artdaq processes, after discussion with Kurt it's been decided that I should ensure that DAQInterface is written such that it

[2022-06-16 20:14] eflumerf commented on #102
*Comment by @jcfreeman2 on 2017-03-28 15:24:27*

----

Commit eaabbd04 handles this - basically, I've added the "manage_processes" member boolean to DAQInterface which, when true, relieves DAQInterface of having to directly deal with artdaq processes. This commit was used with JCOP during the just-finished protoDUNE DAQ Milestone Week 2.

[2022-06-16 20:14] eflumerf opened #101 "Get DAQInterface to automatically launch online monitoring"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/16515 (FNAL account required)*
*Originally created by @jcfreeman2 on 2017-05-11 19:36:51*

----

Currently, in a running DAQ system with dispatchers, the act of registering art processes to the dispatcher in order to perform online monitoring needs to be performed manually - i.e., users need to go to the relevant host, set up

[2022-06-16 20:14] eflumerf commented on #101
*Comment by @jcfreeman2 on 2017-05-16 21:46:56*

----

With DAQInterface commit 9a256b72220cf35f0f752ed0ecc43d5467e8114f, it's now possible to add lines such as the following to the DAQInterface configuration file:
<pre>
art: /home/jcfree/artdaq-demo_v2_09_01/srcs/artdaq_demo/tools/fcl/TransferInputShmem.fcl
art: /home/jcfree/artdaq-demo_v2_09_01/srcs/artdaq_demo/tools/fcl/TransferInputShmem2.fcl

[2022-06-16 20:14] eflumerf opened #100 "Have the DAQInterface configuration file support arbitrary numbers of data loggers and dispatchers."
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/16635 (FNAL account required)*
*Originally created by @jcfreeman2 on 2017-05-23 19:23:50*

----

This is accomplished with DAQInterface commit f80236d5ce3c4a1826d1857dc38ca73dee76df21. If the version of the bookkeeping function selected for DAQInterface is <code>bookkeeping_for_fhicl_documents_artdaq_v3_base</code>, then user

[2022-06-16 20:14] eflumerf opened #99 "Allow users to specify startup order for BoardReader processes"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/16637 (FNAL account required)*
*Originally created by @jcfreeman2 on 2017-05-23 19:35:02*

----

Currently in DAQInterface, transitions are sent to artdaq process types in a specific order. E.g., the "start" transition is sent first to the dispatchers, then to the data loggers, then to the eventbuilders, and then to the board

[2022-06-16 20:14] eflumerf commented on #99
*Comment by @jcfreeman2 on 2017-05-24 20:12:06*

----

With commit 7aa999f3b14d9c6f1e28c2c81c6e1897f8cddf6d, it's now possible to add a line labeled "boardreader priorities" to the <code>.settings</code> file to specify the order in which transitions are sent to different fragment generator types. E.g.
<pre>
boardreader priorities: component03|component04 component06 component05
</pre>
...can be p

[2022-06-16 20:14] eflumerf opened #98 "Make it easier to launch online monitoring in the middle of a run"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/16771 (FNAL account required)*
*Originally created by @jcfreeman2 on 2017-06-05 20:42:53*

----

After discussion during my presentation of online monitoring at the SBND meeting, it was suggested that it be made simple to launch online monitoring in the middle of a run. This is similar to the spirit of Redmine Feature 16615.

[2022-06-16 20:15] eflumerf opened #97 "Modify DAQInterface so it can work as a ups product"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/17576 (FNAL account required)*
*Originally created by @jcfreeman2 on 2017-08-23 18:55:47*

----

Currently, DAQInterface is designed so that files within its repo are expected to be modified to configure its environment - e.g., the .settings file exists at the root of the DAQInterface directory structure. As DAQInterface matu

[2022-06-16 20:15] eflumerf commented on #97
*Comment by @jcfreeman2 on 2017-09-08 19:00:51*

----

With commit d764444056d1c343adfe88ab91700aac23e3dfc6 on DAQInterface's develop branch, it's now possible to control DAQInterface completely without (necessarily) needing to modify any of the files in its repo. The basic idea is that, before sourcing DAQInterface's source_me script, you tell DAQInterface the location of a user-defined sourceabl

[2022-06-16 20:15] eflumerf opened #96 "Place a limit on the number of MessageFacility messages of a given type getting printed out"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/18032 (FNAL account required)*
*Originally created by @jcfreeman2 on 2017-10-25 22:16:01*

----

One of the consequences of a recently observed segmentation fault in artdaq v2_03_03 on the CERN teststand (fixed by artdaq commit 74c497e054359025f785f00a3b1774a2a1f23292 on Oct. 23) is that tens of thousands of MPI error message

[2022-06-16 20:15] eflumerf commented on #96
*Comment by @jcfreeman2 on 2017-10-26 18:29:44*

----

I've figured out how to suppress the error messages being sent to pmt*.rb. In artdaq's configureMessageFacility function, in its FHiCL definition of the console table, whether it uses "type: ANSI" or "type: cout" depends on whether ARTDAQ_MFEXTENSIONS_DIR is defined. By undefining it, so that "type: cout" ends up being used, suppression occurs

[2022-06-16 20:15] eflumerf opened #95 "Support for running multiple DAQInterfaces at the same time"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/18085 (FNAL account required)*
*Originally created by @jcfreeman2 on 2017-10-31 20:46:32*

----

A useful feature for DAQInterface to have is support for running multiple DAQInterface instances at the same time. The following commits realize this goal:

0289e192662873675dbf261f3be6e87f95556219
fd4ca5a49c3ebee951f497fe0ac606f4

[2022-06-16 20:15] eflumerf opened #94 "DAQInterface settings file should allow specification of output data directory"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/18802 (FNAL account required)*
*Originally created by @eflumerf on 2018-01-26 21:05:55*

----

The demo has hard-coded paths in simple_test_config/demo/Aggregator1.fcl (for example). These should be generated at run-time based on a setting in the settings file (which would be initialized by quick-mrb-start to the same as ARTD

[2022-06-16 20:15] eflumerf commented on #94
*Comment by @jcfreeman2 on 2018-01-29 19:33:59*

----

Commit a3237cfb2cea026c9f5286be83025b98530af96f on the develop branch of DAQInterface implements this request. If in the DAQInterface settings file (i.e., the one specified by the DAQINTERFACE_SETTINGS environment variable and read in by DAQInterface when DAQInterface is launched) the user adds a line such as the following:

<pre>
data_directo

[2022-06-16 20:15] eflumerf opened #93 "Minor issue in performing bookkeeping on DataLogger config file"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/19621 (FNAL account required)*
*Originally created by @bieryAtFnal on 2018-04-10 14:52:13*

----

While testing config file includes (e.g. for artdaq-utilities-daqinterface/simple_test_config/config_includes), I noticed that DataLogger configuration files were being rejected by the DataLogger artdaq process.  I traced this to

[2022-06-16 20:15] eflumerf commented on #93
*Comment by @bieryAtFnal on 2018-04-10 14:53:20*

----

John,
I have a candidate fix for this, as I mentioned in the description.  Let me know if you would like me to commit the modified source file.  I can do that to the develop branch or a feature branch.
Kurt

[2022-06-16 20:15] eflumerf commented on #93
*Comment by @jcfreeman2 on 2018-10-26 16:00:11*

----

Kurt fixed this with commit 6312d9892ec891a75b8e8384b0494362364edf6e, dated from April 11.

[2022-06-16 20:15] eflumerf opened #92 "FHiCL assignments that have names like ABC.rootDEF have extra "_dlN" substrings added"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/19655 (FNAL account required)*
*Originally created by @bieryAtFnal on 2018-04-11 20:54:27*

----

In testing new demo configurations in simple_test_configs/config_includes, I noticed that the following FHiCL:

outputs.rootNetOutput: {
    module_type: RootNetOutput
    #SelectEvents: { SelectEvents: [ pmod2,pmod3 ] }
}

was b

[2022-06-16 20:15] eflumerf commented on #92
*Comment by @jcfreeman2 on 2018-10-12 18:17:14*

----

Kurt fixed this with commit a381844c0a0da4ddd78ad121e109742a2879f4ca, which was merged into the develop branch a while ago (e.g., his fix appears in DAQInterface v3_02_00), so I'm marking this issue as resolved.

[2022-06-16 20:15] eflumerf opened #91 "Multiple fileName parameter definitions in a RootOutput FHiCL block were being accidentally un-commented"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/19657 (FNAL account required)*
*Originally created by @bieryAtFnal on 2018-04-11 21:02:41*

----

In testing new configuration files in simple_test_configs/config_includes, I noticed that the following FHiCL block:

rootDiskOutput: {
  module_type: RootOutput
  fileName: "/tmp/artdaqdemo_r%06r_sr%02s_%to_%#.root"
  #fileName:

[2022-06-16 20:15] eflumerf commented on #91
*Comment by @jcfreeman2 on 2018-10-26 15:19:58*

----

Kurt handled this with commit bd90d7b021f8d7564a9948952f4cfcc452fc9173 on the feature/kurt_april2018 branch, which was merged into the develop branch this past spring and was therefore subsequently deleted.

[2022-06-16 20:15] eflumerf opened #90 "Specify multicast network in boot.txt..."
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/19991 (FNAL account required)*
*Originally created by @ron003 on 2018-05-18 17:42:29*

----

or better way???
i.e. for request_based_dataflow_example

[2022-06-16 20:15] eflumerf commented on #90
*Comment by @jcfreeman2 on 2018-05-18 20:54:11*

----

Right now the way the multicast network is specified in the boot.txt file can be done by setting the following two parameters (values taken from the protoDUNE cluster):
<pre>
request_port: 3002
request_address: "227.128.12.27"
</pre>
...where DAQInterface will then overwrite any values keyed by "request_port" and/or "request_address" in the FH

[2022-06-16 20:16] eflumerf commented on #90
*Comment by @eflumerf on 2018-05-18 21:00:39*

----

What we're interested in setting here is the address of the network on the interface we want multicast requests to use...

For example, mu2edaq01 has two interfaces, a public and a private. The public interface is running a firewall and is not connected to the other nodes in the test stand, so it shouldn't be used for sending multicast messages.

[2022-06-16 20:16] eflumerf commented on #90
*Comment by @jcfreeman2 on 2018-05-18 21:09:08*

----

The main reason the boot file allows users to override certain parameters like the multicast host and address is so that it's possible to use the same FHiCL configuration in multiple partitions without collisions occurring. Most parameters should be set in the FHiCL configuration, since the fewer the number of overridden parameters, the more a

[2022-06-16 20:16] eflumerf commented on #90
*Comment by @eflumerf on 2018-05-18 21:17:02*

----

That is true, and a very good point.
The issue here is that the generic configurations in simple_test_config break down here, as we don't know what might be an appropriate address to use on any given host. I agree that it might be better to do this elsewhere, like in just_do_it.sh itself...

[2022-06-16 20:16] eflumerf commented on #90
*Comment by @jcfreeman2 on 2018-07-06 21:30:40*

----

Resolved in light of the argument that in general we don't want it to be DAQInterface's job to override the FHiCL parameters in a configuration's FHiCL documents, since this undermines the extent to which a labeled configuration actually defines how the artdaq processes are configured.

[2022-06-16 20:16] eflumerf opened #89 "Add support for the RootDAQOut output module in DAQInterface bookkeeping"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/20713 (FNAL account required)*
*Originally created by @bieryAtFnal on 2018-08-30 17:47:34*

----

I noticed that when I tried to use the RootDAQOut output module (which is an artdaq extension of the RootOuput module), my artdaq-demo raw data files were being written to /tmp, even though I had specified a data_directory_overri

[2022-06-16 20:16] eflumerf commented on #89
*Comment by @bieryAtFnal on 2018-08-30 17:48:16*

----

At this point, the code changes are ready for review and possible merging into the develop branch.

[2022-06-16 20:16] eflumerf commented on #89
*Comment by @jcfreeman2 on 2018-09-06 19:48:42*

----

Now at the HEAD of DAQInterface's develop branch, commit 3996c406df83bb5f922b33e26ead316cee41d045, the RootDAQOut improvements have been merged in. At the HEAD, RootDAQOut has supplanted RootOutput as the module used by DataLogger1.fcl in the demo configuration. Despite this change, the output *.root file was correctly written to the directory

[2022-06-16 20:16] eflumerf opened #88 "DAQInterface appears to leak file descriptors"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/20757 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-09-06 16:51:02*

----

From Eric:

"DAQInterface appears to leak file descriptors (possibly handles to per-run log files?)...I did 297 runs in one instance, and it failed to boot after due to a "too many open files" error. "

[2022-06-16 20:16] eflumerf commented on #88
*Comment by @eflumerf on 2018-09-07 12:43:05*

----

I made another long-running instance, and there's a large number of PIPEs, apparently between two threads within DAQInterface. I have captured the output of lsof into a log file, as well as the output of ls -l /proc/<PID>/fd.

[2022-06-16 20:16] eflumerf commented on #88
*Comment by @eflumerf on 2018-09-07 20:51:26*

----

After a bit more testing, it appears that the leak happens on Terminate-Boot cycles, not Stop-Start cycles.

[2022-06-16 20:16] eflumerf commented on #88
*Comment by @jcfreeman2 on 2018-09-16 01:19:03*

----

Solved with commit e05a76e400de3ba1382f8424c9cf2f333179d717. I'll just quote the commit comments:

JCF: The cut-and-pasted deepsuppression context manager I got from stackoverflow.com back in 2014 had
a bug, in that it wasn't closing all file descriptors in deepsuppression.*_exit_*.  Whenever deepsuppression() was called by DAQInterface, it wa

[2022-06-16 20:16] eflumerf opened #87 "DAQInterface should save the per-run process ranks"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/20758 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-09-06 16:53:49*

----

On protoDUNE, currently RC writes out a file which records the ranks it associates with the various types of artdaq process, and DAQInterface contains logic to ensure that it uses those same ranks when it performs bookkeeping on F

[2022-06-16 20:16] eflumerf commented on #87
*Comment by @jcfreeman2 on 2018-09-10 22:26:16*

----

For protoDUNE, this feature is realized with release v3_00_06d, as of today deployed on the np04-srv-XXX cluster. When controlling DAQInterface via RC (i.e., with DAQInterface's manage processes set to "false"), DAQInterface will save the ranks as assigned by RC. When controlling DAQInterface from the commandline (manage processes set to "true

[2022-06-16 20:16] eflumerf opened #86 "DAQInterface should be able to place requirements not just on a package's commit hash but also its version"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/20759 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-09-06 17:09:23*

----

Right now, DAQInterface typically has requirements on a git commit hash appearing in artdaq's repo. E.g., right now at the head of its develop branch, since DAQInterface calls the add_config_archive_entry which Kurt introduced bac

[2022-06-16 20:16] eflumerf commented on #86
*Comment by @jcfreeman2 on 2018-09-20 19:18:50*

----

Satisfied by commits ba3c333b31c038d0601519171ca9b85b8f8e5a70 and efe2149526e4f1188d1a848bc20fad7bce1c8e00 on the develop branch. If an artdaq source repo's not available, rather than requiring a given git commit (or newer) we can require a given version (or newer).

[2022-06-16 20:16] eflumerf opened #85 "On run start and stop, DAQInterface should call a script to make working with TRACE buffers easier"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/20797 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-09-11 16:13:02*

----

In the context of protoDUNE, there's been a discussion of ways that DAQInterface can make it easier for users of TRACE to determine what happened during a particular run. The idea is essentially that at the start of a run, the TRA

[2022-06-16 20:17] eflumerf commented on #85
*Comment by @jcfreeman2 on 2018-09-12 22:31:58*

----

DAQInterface v3_00_06f satisfies this issue. If it finds a script with the name /nfs/sw/control_files/trace/trace_control.sh, it will execute it on the start transition with arguments which look like, e.g.
<pre>
/nfs/sw/control_files/trace/trace_control.sh /tmp/trace_dune-artdaq_artdaq_v3_02_01_testing --run 1001613 --transition start --node-l

[2022-06-16 20:17] eflumerf opened #84 "On protoDUNE, DAQInterface should take info from Run Control and store it in the database"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/20798 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-09-11 16:16:31*

----

On protoDUNE, there's some run-related info DAQInterface doesn't intrinsically know about, but which would be nice to save in the database. This info includes, but is not limited to: run type, datataking start time, datataking sto

[2022-06-16 20:17] eflumerf commented on #84
*Comment by @jcfreeman2 on 2018-09-11 22:07:31*

----

With DAQInterface release v3_00_06e for protoDUNE, on run start DAQInterface will do the following:

- Save the ASCII file output by run control in the run record with the name "rc_info.txt"
- FHiCLize the contents of the file and append it to RunHistory.fcl before RunHistory.fcl is saved in the database

For reference, the file run control pr

[2022-06-16 20:17] eflumerf commented on #84
*Comment by @jcfreeman2 on 2018-09-19 20:46:30*

----

DAQInterface release v3_00_06h completes this issue, specifically through commit 928ee45d073196d616b1eb05605bde15a989a674 on feature/protodune. On the stop transition, DAQInterface will add a file called RunHistory2.fcl to the run archive in the database, which simply contains the stop time provided by RC. So, e.g., RunHistory2.fcl looks like:

[2022-06-16 20:17] eflumerf opened #82 "DAQInterface's requirement that a boardreader FHiCL document be of the form <componentname>_hw_cfg.fcl should be removed"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/20803 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-09-11 21:08:39*

----

Gennadiy ran into some issues today trying to configure, since if you tell DAQInterface you want to use a boardreader, e.g.:
<pre>
setdaqcomps.sh my_component
</pre>
...then in the configuration, it will look not for mycomponent.f

[2022-06-16 20:17] eflumerf commented on #82
*Comment by @jcfreeman2 on 2018-09-14 15:34:12*

----

A very simple change. With commit 7f7a747c6dbf9770ca1e0be9a2428cf5e1f570e5 on the develop branch, if a user specifies <componentname>, DAQInterface will accept either <componentname>_hw_cfg.fcl or <componentname>.fcl as the FHiCL document.

[2022-06-16 20:17] eflumerf opened #81 "Remove deprecated simple_test_configs"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/20979 (FNAL account required)*
*Originally created by @eflumerf on 2018-09-28 19:10:21*

----

The following configurations are candidates for discussion/removal:

combined_eb_and_dl: Not currently supported by DAQInterface; I think if an experiment wants something like this, we give them a configuration with an EventBuilder

[2022-06-16 20:17] eflumerf commented on #81
*Comment by @eflumerf on 2018-10-09 14:01:34*

----

Implementation on artdaq-utilities-daqinterface/feature/RemoveDeprecatedSimpleTestConfigs

simple_test_config entries listed above have been removed.

[2022-06-16 20:17] eflumerf opened #80 "DAQInterface should support fragment generators which return more than one fragment per event"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21044 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-10-05 19:21:09*

----

When bookkeeping, DAQInterface sets expected_fragments_per_event in the EventBuilder FHiCL to the number of BoardReaders (*). The underlying assumption here is that each BoardReader sends one fragment per event. However, this is n

[2022-06-16 20:17] eflumerf commented on #80
*Comment by @jcfreeman2 on 2018-10-12 22:00:35*

----

Requirements satisfied by commit f0c4eb32924669187107dbbc2818323a43b9fa08 on the develop branch. When calculating "expected_fragments_per_event" in the EventBuilder, DAQInterface will assume a BoardReader sends 1 fragment per event UNLESS in the BoardReader FHiCL it sees either (A) a line of the form "<code>generated_fragments_per_event: <N></

[2022-06-16 20:17] eflumerf opened #79 "DAQInterface creates malformed FHiCL in metadata.fcl"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21049 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-10-07 18:35:38*

----

If saving run info to a database on run start, DAQInterface will take the metadata.txt file from the run record and turn it into legal FHiCL. One of the features added just before the release of DAQInterface v3_03_00 was the addit

[2022-06-16 20:17] eflumerf commented on #79
*Comment by @jcfreeman2 on 2018-10-08 21:53:53*

----

Fixed via commit  f3c4d5f129729a934214528917ad1ca3ad7a4e13 on DAQInterface's develop branch. For the example line above, the FHiCLized version would look like this:
<pre>
artdaq_core_demo_commit_or_version: "d7c93c94976855a3989f2b9c98f1ddff9e4c0fb9  Store the distribution_type used to generate ToyFr...  "
</pre>

[2022-06-16 20:17] eflumerf opened #78 "Use report_metric in demo simple_test_config"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21066 (FNAL account required)*
*Originally created by @eflumerf on 2018-10-09 13:29:43*

----

The "report" metric was added to periodically send MessageFacility messages containing the current values of all metrics at or below a given level threshold. This feature, on branch artdaq-utilities-daqinterface/feature/reportMetric

[2022-06-16 20:17] eflumerf opened #77 "In protoDUNE metadata, DAQInterface start time and stop time appear in foreign language"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21106 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-10-10 17:32:23*

----

Right now on the protoDUNE cluster, the DAQInterface start time and DAQInterface stop time in the metadata.txt (and thus the metadata.fcl) appear in Italian. E.g., /nfs/sw/artdaq/run_records/5140/metadata.txt:
<pre>
DAQInterface s

[2022-06-16 20:17] eflumerf commented on #77
*Comment by @jcfreeman2 on 2018-10-12 19:23:17*

----

Resolved with a very simple commit, 715c817c85f553b86d57bedee8730a0beb4f76c3, which diff'd with the previous commit looks as follows:

<pre>
-    return Popen("date", shell=True, stdout=subprocess.PIPE).stdout.readlines()[0].strip()
+    return Popen("LC_ALL=\"en_US.UTF-8\" date", shell=True, stdout=subprocess.PIPE).stdout.readlines()[0].strip

[2022-06-16 20:18] eflumerf opened #76 "Message Viewer not showing up in demo v3_03_00"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21120 (FNAL account required)*
*Originally created by @eflumerf on 2018-10-12 14:09:55*

----

DAQInterface was always reporting artdaq_mfextensions not found, and I eventually traced the problem to the UPS unsetup command not being found in the subshell. Since the artdaq_mfextensions detection commands were being run while w

[2022-06-16 20:18] eflumerf opened #75 "In DAQInterface, deepsuppression should always be overridable with a sufficiently high verbosity level"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21189 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-10-19 15:40:56*

----

About 4 years ago, I introduced the context manager class "deepsuppression" as a way to ensure that sections of DAQInterface code which had Popen calls to verbose processes (e.g., an artdaq process) could suppress the output to th

[2022-06-16 20:18] eflumerf commented on #75
*Comment by @jcfreeman2 on 2018-10-19 15:41:51*

----

Commit 90daf856bd7f9aef58526edd8ebf7c256f6383cd on DAQInterface's develop branch contains the relevant code changes.

[2022-06-16 20:18] eflumerf opened #74 "It should be possible to repeat a run with a minimum of effort"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21202 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-10-20 18:07:29*

----

Frequently DAQ users will want to repeat a run- for testing purposes, etc. It's possible to do this with DAQInterface's just_do_it.sh script, but it requires a bit of work: the user needs to go into the run records to get a hold o

[2022-06-16 20:18] eflumerf commented on #74
*Comment by @jcfreeman2 on 2018-10-20 18:12:32*

----

With commit 40e6f22f35069ed29254fa66eeee1d8a53ca21a2 on DAQInterface's develop branch, the script "just_repeat_run.sh" has been added. Calling it's simple:
<pre>
just_repeat_run.sh <run number to repeat> <seconds to run>
</pre>
just_repeat_run.sh will do what's described in my description of the issue, and includes the expected error checking

[2022-06-16 20:18] eflumerf commented on #74
*Comment by @jcfreeman2 on 2018-11-02 22:36:45*

----

I modified <code>just_repeat_run.sh</code> so that it will look at the metadata.txt file of the run that's intended to be repeated, and for those packages whose versions or git commit hashes were saved, if it determines that the code has been changed since the run-to-repeat was performed, it will refuse to execute. This looks something like th

[2022-06-16 20:18] eflumerf opened #73 "boot.txt files in simple_test_configs should be immediately usable"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21225 (FNAL account required)*
*Originally created by @eflumerf on 2018-10-24 20:13:07*

----

Currently, all of the boot.txt files in the simple_test_config directories contain the line

DAQ setup script: <yourArtdaqInstallationDir>/setupARTDAQDEMO

which makes them invalid for use. It might be better to make that

DAQ setup

[2022-06-16 20:18] eflumerf commented on #73
*Comment by @jcfreeman2 on 2018-10-24 21:30:40*

----

Interesting idea. If we do this, I'll want to make sure that DAQInterface, when it saves the boot file in the run records, expands environment variables first. In other words, that if we check back later to look at what happened during a run, in the saved boot file we'd see something like:
<pre>
DAQ setup script: /home/yourname/your_artdaq-dem

[2022-06-16 20:18] eflumerf commented on #73
*Comment by @jcfreeman2 on 2018-10-25 22:02:34*

----

Commit 8241815637851b7348b0b8a4df7875900dacb189 on DAQInterface's develop branch implements my idea above.

[2022-06-16 20:18] eflumerf commented on #73
*Comment by @jcfreeman2 on 2018-10-29 22:10:59*

----

With commit 6707208cb1003af0c38f8b56cfacef1a73560bdd on artdaq-demo's develop branch, the user sourceme file from the DAQInterface package gets edited in quick-mrb-start.sh so that a boot file which assigns the DAQ setup script like so:
<pre>
DAQ setup script: $yourArtdaqInstallationDir/setupARTDAQDEMO
</pre>
will work without any need for edi

[2022-06-16 20:51] eflumerf opened #72 "DAQInterface should support multiple sub-configurations"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21226 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-10-24 20:20:56*

----

A request that was brought up during Monday's protoDUNE call and which we agreed was a good idea later that day in the weekly RSI meeting was that, rather than only supporting a monolithic configuration whose name refers to all FH

[2022-06-16 20:52] eflumerf commented on #72
*Comment by @jcfreeman2 on 2018-10-31 14:51:05*

----

More info:

- It's possible that a FHiCL document of the same name could appear in multiple provided subconfigurations. One approach to handle this would be to have the FHiCL document in the subconfiguration which appears later in the argument list to clobber the document which appears earlier, and to issue a warning. However, I prefer the ide

[2022-06-16 20:52] eflumerf commented on #72
*Comment by @bieryAtFnal on 2018-10-31 16:04:12*

----

John, thanks for the additional info, but it would be great to understand more about the design of what is being changed.  The additional info that you added seems to assume that the reader already knows the design and seems to dive down into implementation details.

Some questions that I have about the design:
- is the goal of this change to

[2022-06-16 20:52] eflumerf commented on #72
*Comment by @jcfreeman2 on 2018-10-31 16:50:01*

----

Just had a discussion with Kurt, mainly focused on the questions he poses above. To answer his questions point-by-point:

- Yes, the structure or contents can be unchanged.

- Not only can each subconfiguration have a common_code area, it can have an areas (subdirectories) with **any** name (common_code or otherwise) which can be added to the

[2022-06-16 20:52] eflumerf commented on #72
*Comment by @jcfreeman2 on 2018-11-02 15:02:14*

----

With commit 895754d36c83fa750f3faf692df23d8a6f8a47c5 on DAQInterface's develop branch (the result of a fast-forward merge of feature/use_subconfigurations), the following applies:

- When given a single argument for the config transition, DAQInterface behaves exactly as before (+)
- However, you can now provide multiple arguments to the config

[2022-06-16 20:52] eflumerf opened #71 "DAQInterface should decouple the routingmaster from fragment generators which send no fragments"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21234 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-10-25 21:08:15*

----

Currently on the develop branch of DAQInterface, even if a fragment generator by design doesn't send any fragments, its boardreader's rank is still registered in the routingmaster's sender_ranks list. This is unnecessary and provi

[2022-06-16 20:52] eflumerf commented on #71
*Comment by @jcfreeman2 on 2018-12-16 19:12:13*

----

With commit 992794646b06ac1704040cae30e520de230fda22 on DAQInterface's develop branch, I've satisfied this requirement. If DAQInterface knows that a fragment generator doesn't send fragments (either because the boardreader FHiCL contains "sends_no_fragments: true" or "generated_fragments_per_event: 0") then it will leave the rank of the fragme

[2022-06-16 20:52] eflumerf opened #70 "DAQInterface should be able to launch processes by a method other than pmt.rb"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21235 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-10-25 22:36:22*

----

One of the disadvantages of the traditional, MPI-based method of launching artdaq processes via pmt.rb is that if one artdaq process goes down, they all go down. Particularly with a view toward DUNE's future, with its model of "th

[2022-06-16 20:52] eflumerf commented on #70
*Comment by @jcfreeman2 on 2018-12-13 00:25:42*

----

With commit 969df6c705b2e8ae29f6805e6a4477856a680c02 on the develop branch, DAQInterface has the following capabilities:

If the environment variable "DAQINTERFACE_PROCESS_MANAGEMENT_METHOD" is set to "direct" - it defaults to "pmt" in the generic DAQInterface source_me file - then rather than using artdaq_mpich_plugin's pmt.rb script to launc

[2022-06-16 20:52] eflumerf opened #69 "PMT Host != localhost fails to boot"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21239 (FNAL account required)*
*Originally created by @eflumerf on 2018-10-26 18:18:42*

----

I have found that setting PMT host to anything other than localhost fails to boot in artdaq v3_03_01.

[2022-06-16 20:52] eflumerf commented on #69
*Comment by @jcfreeman2 on 2019-01-18 19:55:33*

----

This also doesn't work at the command line, at least using the same technique DAQInterface is attempting. E.g., say that on mu2edaq01 I try the following:

<pre>
ssh -f mu2edaq06 ". /cvmfs/fermilab.opensciencegrid.org/products/artdaq/setup ; source /home/jcfree/artdaq-demo_dec19/setupARTDAQDEMO ; which pmt.rb ; pmt.rb -p 11001 -d /tmp/pmtConfi

[2022-06-16 20:52] eflumerf opened #68 "A set of subconfigurations which realistically model an experiment should be added to simple_test_config"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21328 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-11-07 19:52:36*

----

Now that subconfigurations are supported by DAQInterface (Redmine Issue 21226), Kurt's suggested that we add some to simple_test_config which look realistically like those an experiment might use, and which could be used as a jump

[2022-06-16 20:52] eflumerf commented on #68
*Comment by @jcfreeman2 on 2018-11-15 23:22:55*

----

With the develop branch's commit 0e65280f1c1fad140ca4347fc1e55a04652e2918, there's a family of subconfigurations which can be assembled to perform a run. Most of them you have to use, but some are interchangeable. E.g., if you use the configuration
<pre>
subconfigs/component_pull subconfigs/component_push subconfigs/dataloggers subconfigs/disp

[2022-06-16 20:52] eflumerf commented on #68
*Comment by @jcfreeman2 on 2018-11-18 02:16:14*

----

With commit 902dd0e93b10a769665037854bd89d53290b6fe4, I've added comments to the FHiCL variables in the set of subconfigs. In general, I just used the comments for the variables as described in the relevant artdaq header files, occasionally performing light edits; I also left some variables whose names are self-explanatory uncommented. I'm mar

[2022-06-16 20:52] eflumerf commented on #68
*Comment by @bieryAtFnal on 2018-11-21 13:14:26*

----

Thanks John, this is sounding good.  I'll try to take a look at the simple_test_config soon.  A quick question in the meantime: would the new functionality in DAQInterface "just work" if it were configured to use configurations from the artdaqDB rather than disk files?
Thanks,
Kurt

[2022-06-16 20:52] eflumerf commented on #68
*Comment by @jcfreeman2 on 2018-11-21 18:06:38*

----

Yes, that's correct. The **only** difference between using the disk files and artdaqDB  for configurations is that in the former case, DAQInterface will look for a subdirectory called "common_code" at the same level as the subdirectories denoting the subconfigurations and add it if it finds it - i.e., effectively adding a subconfiguration call

[2022-06-16 20:52] eflumerf opened #67 "DAQInterface should support the concept of subsystems"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21358 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-11-13 15:55:06*

----

Eric's been working on the concept of artdaq subsystems, where a subsystem is a collection of artdaq processes which are more tightly coupled to one another than to the processes in another subsystem. He's already developed ways t

[2022-06-16 20:52] eflumerf commented on #67
*Comment by @jcfreeman2 on 2018-11-20 23:03:41*

----

Commit comment for 9484a99747a03c59f343bb16a69029560e95a3cf on the feature/subsystems branch:

JCF: update bookkeeping to accommodate simple 2-subsystem arrangements

Since in a commit from earlier today both rank # and subsystem # were
added to the artdaq process structure Procinfo, I've rewritten the
bookkeeping functionality to take advanta

[2022-06-16 20:52] eflumerf commented on #67
*Comment by @jcfreeman2 on 2018-11-24 19:45:28*

----

In the last couple of days, up through commit b70507c43878afebc48a8a6d893a22272b3dccf7, the following features have been added:

- It's no longer the case that **only** two subsystems, with subsystem 1 sending to subsystem 2, is supported. Instead, the subsystem relationships can be flexibly defined. In particular, to recover the previous beha

[2022-06-16 20:53] eflumerf commented on #67
*Comment by @jcfreeman2 on 2018-11-29 17:09:05*

----

Since the last comment on this issue, Eric and I have worked on bookkeeping so the following now applies:

- The number of expected fragments per event for an eventbuilder in a given subsystem is derived not just from the boardreaders in the subsystem in question, but also from any subsystems which are part of the subsystem-in-question's ances

[2022-06-16 20:53] eflumerf commented on #67
*Comment by @jcfreeman2 on 2018-11-29 21:07:58*

----

For the record, the above comment I made earlier today applies to develop branch commit fdcfff9b1510c3bce73bf41e60a88ad04d624bb8, with the immediately-preceding commit 12a0c7cd329d9a265b5f6fc2be696c195bc5bbdf already containing all the up-to-date bookkeeping code.

[2022-06-16 20:53] eflumerf commented on #67
*Comment by @jcfreeman2 on 2019-02-18 20:43:59*

----

A few days ago Eric and I agreed that subsystem implementation had been matured to the point that reviews could begin; hence I've marked this "Resolved".

[2022-06-16 20:53] eflumerf opened #66 "DAQInterface should have per-partition MessageViewers"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21360 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-11-13 19:23:44*

----

Right now, regardless of the partition, DAQInterface will launch a MessageViewer listening on port 30000 and then construct a FHiCL snippet instructing artdaq processes to send messages to a MessageViewer listening on port 30000 (

[2022-06-16 20:53] eflumerf commented on #66
*Comment by @jcfreeman2 on 2018-11-15 18:48:21*

----

In order to think about how best to implement this, first I'll lay out how DAQInterface currently behaves in regards to MessageViewer:

During the boot transition:
If use_messageviewer is set to true in the settings file (or not set at all, which means it defaults to true), AND
If there's not a MessageViewer instance already running in the ter

[2022-06-16 20:53] eflumerf commented on #66
*Comment by @jcfreeman2 on 2018-12-14 22:24:57*

----

With commit bdc3c1b70998dd0e9663e79970ee799ba57773fa on the develop branch, this Issue is satisfied. For a given partition, when DAQInterface launches a MessageViewer instance, instead of using $ARTDAQ_MFEXTENSIONS_DIR/fcl/msgviewer.fcl with its hardwired value of 30000, instead it creates a copy where it overwrites the 30000 with 10005 + part

[2022-06-16 20:53] eflumerf opened #65 "DAQInterface product unsetup attempt not working"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21367 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-11-14 20:49:41*

----

This morning I determined that the command used by DAQInterface in Popen to unsetup products - i.e., sterilize the Popen environment - which I lifted from Ron, doesn't work in Popen since it uses a function, and functions don't ac

[2022-06-16 20:53] eflumerf commented on #65
*Comment by @jcfreeman2 on 2018-11-14 20:52:56*

----

Fix implemented in commit 3c42296e51a694d3ff42ad44339679ae7da04a96 on the develop branch

[2022-06-16 20:53] eflumerf opened #64 "max_fragment_size_bytes in the settings file should only refer to fragments, not entire events"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21395 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-11-18 03:04:52*

----

When advanced_memory_usage is set to false in the DAQInterface settings file, DAQInterface uses the settings file's max_fragment_size_bytes parameter to determine how large of a memory buffer the transfer plugins connecting the ar

[2022-06-16 20:53] eflumerf opened #63 "DAQInterface's memory management should allow for boardreaders which send zero or multiple fragments per event"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21404 (FNAL account required)*
*Originally created by @jcfreeman2 on 2018-11-19 21:44:22*

----

In Redmine Issue 21044, a feature of DAQInterface is described in which it's possible to account for fragment generators sending zero fragments per event, or more than one fragment per event, when telling the eventbuilders how man

[2022-06-16 20:53] eflumerf commented on #63
*Comment by @jcfreeman2 on 2018-11-26 17:16:58*

----

With commit 4924037c72c9171af5e152d1a3a4d1caec50e459 on the develop branch, DAQInterface will account for the number of fragments a boardreader sends each event when calculating buffer sizes. As described in Redmine Issue 21044, DAQInterface will assume one fragment per event per boardreader unless "<code>generated_fragments_per_event</code>"

[2022-06-16 20:53] eflumerf opened #83 "Support hexadecimal values in settings_example"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21496 (FNAL account required)*
*Originally created by @eflumerf on 2018-12-06 20:33:15*

----

I tried setting max_fragment_size_bytes to 0x10000 in settings_example, but got an error from DAQInterface complaining about base-10. It might be nice to support setting some parameters in hex...

[2022-06-16 20:53] eflumerf commented on #83
*Comment by @jcfreeman2 on 2018-12-13 22:49:13*

----

With commit cfd9044873b6a742d8427feb1da20f32eac1ffd1 on the develop branch, this request is satisfied. Now, values assigned to max_fragment_size_bytes which begin with an "0x" are understood by DAQInterface to be hex values. E.g.,
<pre>
max_fragment_size_bytes: 0xfa000
</pre>
or
<pre>
max_fragment_size_bytes: 0xFA000
</pre>
are equivalent to
<

[2022-06-16 20:53] eflumerf opened #62 "DAQInterface advanced memory usage seems to have trouble with certain FHiCL over-rides"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21611 (FNAL account required)*
*Originally created by @bieryAtFnal on 2019-01-02 14:51:43*

----

To reproduce the problem:
- either use an existing artdaq-demo installation or create a new one, and update the artdaq-utilities-daqinterface package to commit hash ac86bcb0037e6968df3fd52b59ac80186ad86a59
- run 'sh ./run_demo.sh

[2022-06-16 20:53] eflumerf commented on #62
*Comment by @jcfreeman2 on 2019-01-09 00:16:31*

----

I'll start with the reason for the problem; then I'll discuss a couple of solutions:

The issue is that it's DAQInterface's code, and not a FHiCL interpreter, which is plucking out the max_fragment_size_bytes variable from the FHiCL document, so some of the capabilities of a FHiCL interpreter - in the example given above, the ability to associ

[2022-06-16 20:53] eflumerf opened #61 "It should be possible to tell DAQInterface which artdaq processes are critical to a run, and which aren't"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21695 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-01-15 18:37:50*

----

Right now, when we have the environment variable "DAQINTERFACE_PROCESS_MANAGEMENT_METHOD" set to "direct" rather than "pmt", when an artdaq process dies the only thing that happens is that DAQInterface prints a warning to the scre

[2022-06-16 20:54] eflumerf commented on #61
*Comment by @jcfreeman2 on 2019-01-31 22:59:30*

----

With commit c1001a010442a3cd62cdf52d93ebe27999767023 on the develop branch, if the environment variable DAQINTERFACE_CRITICAL_PROCESSES_LIST is set to the name of a file (which exists!), DAQInterface will open that file and interpret the first token on each non-empty, uncommented (#) line as the label of a process which, if it dies or enters a

[2022-06-16 20:54] eflumerf opened #60 "It should be possible to recover details about why a process didn't launch"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21739 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-01-22 23:04:31*

----

Right now, in direct process management, if a process (or set of processes) doesn't launch on a node, it can be difficult to determine the cause. To avoid a verbose spew to stdout that would overwhelm everything else (especially i

[2022-06-16 20:54] eflumerf commented on #60
*Comment by @jcfreeman2 on 2019-01-23 22:21:51*

----

With commit 962ff8fba8d1e8553e69b72c963ec619f42d1fec on the develop branch, if we're running in direct process management mode, then when processes are launched the output on each host is saved in a file called <host>:/launch_attempt_<user>_partition<partition number>. If the processes don't all launch successfully, for each host where things

[2022-06-16 20:54] eflumerf opened #59 "DAQInterface should treat process Error states the same as process crashes"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21740 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-01-22 23:08:10*

----

Right now, in direct process management mode, if a process crashes (goes away) then DAQInterface will simply print a warning and continue running. However, if a process returns "Error" when queried (as happens when a fragment gene

[2022-06-16 20:54] eflumerf commented on #59
*Comment by @jcfreeman2 on 2019-01-28 22:50:07*

----

This is handled by commit d64f2b9df69524dd72b5047e8dfa59d008770bf1 on the develop branch. In the event that a process, when queried, returns "Error", then rather than shutting down the run and returning itself to the "Stopped" state, DAQInterface will instead print a warning and remove the process from its list of processes to query. Also, if

[2022-06-16 20:54] eflumerf opened #58 "If just_do_it.sh can't perform a transition, DAQInterface hangs"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21804 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-01-30 17:35:43*

----

Specifically, what I'm finding is that in the scenario that during the configuration transition DAQInterface expects a FHiCL document but can't find it among the subconfigurations it's been given, DAQInterface will (as expected),

[2022-06-16 20:54] eflumerf commented on #58
*Comment by @jcfreeman2 on 2019-02-11 21:13:19*

----

On further investigation, the hang was occurring whenever anything was typed into the shell DAQInterface was running in. Ron suggested I have DAQInterface ignore stdin by adding "<&-" to the DAQInterface alias. Change has been added to feature/issue21804_daqinterface_hang.

[2022-06-16 20:54] eflumerf commented on #58
*Comment by @jcfreeman2 on 2019-02-12 04:17:22*

----

I've tested DAQInterface on feature/issue21804_daqinterface_hang; typing input into the same shell that DAQInterface is running in now appears to have no effect.

[2022-06-16 20:54] eflumerf commented on #58
*Comment by @eflumerf on 2019-02-12 22:13:08*

----

Reviewed code and made sure that things work properly with the new code.

[2022-06-16 20:54] eflumerf commented on #58
*Comment by @jcfreeman2 on 2019-02-14 19:06:37*

----

Using the fix Ron suggested appears to have solved the problem, as tested by myself and by Eric. Merged feature/issue21804_daqinterface_hang into develop and deleted the branch (feature/issue21804_daqinterface_hang, not develop).

[2022-06-16 20:54] eflumerf commented on #58
*Comment by @jcfreeman2 on 2019-02-19 20:46:31*

----

I'm un-closing this Issue since the protocol is to close an Issue when there's an official release. Having said that, I consider this Issue to be "Reviewed" (not "Resolved" as marked) but for whatever reason that option's not appearing in my drop-down list.

[2022-06-16 20:54] eflumerf opened #57 "Add a subconfiguration which contains ToySimulators that behave badly by design"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21811 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-01-30 23:14:34*

----

Back in the summer of 2016, a number of FHiCL parameters were added to the ToySimulator's ToyHardwareInterface which could instruct it to behave pathologically (e.g., throwing an exception after a given amount of time running). Gi

[2022-06-16 20:54] eflumerf commented on #57
*Comment by @jcfreeman2 on 2019-01-30 23:15:52*

----

For the record, the component_special subconfiguration was added in commit bf21bd04c6dfd71365f51832dbc97366fdcf25b5 on DAQInterface's develop branch.

[2022-06-16 20:54] eflumerf opened #56 "eventbuilder_diskwriting and combined_eb_and_el simple_test_configs do not work in v3_03_02"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21856 (FNAL account required)*
*Originally created by @eflumerf on 2019-02-06 21:10:59*

----

Apparently, the bookkeeping has changed in a way that breaks the previously-working eventbuilder_diskwriting example. If the combined_eb_and_dl example is not supported behavior, it should be removed.

The problem appears to be in g

[2022-06-16 20:54] eflumerf commented on #56
*Comment by @jcfreeman2 on 2019-02-06 21:17:09*

----

eventbuilder_diskwriting should definitely be fixed as it should be possible to send events to dispatchers from eventbuilders. However, thinking about combined_eb_and_dl, perhaps the convention should be that if we have just one process doing the work of an eventbuilder and a datalogger, it should be an eventbuilder - in fact, this is the conv

[2022-06-16 20:54] eflumerf commented on #56
*Comment by @jcfreeman2 on 2019-02-07 21:00:06*

----

With branch feature/issue21856_eventbuilders_can_send_to_dispatchers, I've done two things to DAQInterface:

1) When bookkeeping, if DAQInterface determines that a subsystem has eventbuilders and dispatchers but not dataloggers, it'll set up the sources and destinations tables so events go from eventbuilders to dispatchers. This has gotten the

[2022-06-16 20:54] eflumerf commented on #56
*Comment by @eflumerf on 2019-02-08 21:06:43*

----

Code review: No issues found

[2022-06-16 20:55] eflumerf commented on #56
*Comment by @eflumerf on 2019-02-08 22:12:28*

----

During testing, I get a segfault in the Dispatcher art process when it starts.
<pre>
art-daq/artdaq_utilities#6  0x00007f819655a0d2 in __assert_fail () from /lib64/libc.so.6
art-daq/artdaq_utilities#7  0x00007f819be54f8d in art::Principal::Principal (this=0x3e107c0, pc=..., hist=..., presentProducts=..., mapper=..., reader=...)
    at /scratch/w

[2022-06-16 20:55] eflumerf commented on #56
*Comment by @eflumerf on 2019-02-08 22:14:14*

----

I think this might be due to the fact that the Dispatcher is receiving events from two different art processes with different configuration.

<pre>
[eflumerf@ironwork artdaq-mrb-base]$ cd run_records/1/
[eflumerf@ironwork 1]$ ls
boot.txt  component01.fcl  component02.fcl  Dispatcher1.fcl  EventBuilder1.fcl  EventBuilder2.fcl  known_boardreaders_

[2022-06-16 20:55] eflumerf commented on #56
*Comment by @eflumerf on 2019-02-08 22:21:42*

----

I get the following errors trying to run a different configuration:
<pre>
Fri Feb  8 16:21:07 CST 2019: CONFIG transition underway
Config name: demo

Obtaining FHiCL documents...done (0.0 seconds).
Bookkeeping the FHiCL documents...Traceback (most recent call last):
  File "/home/eflumerf/Desktop/artdaq-mrb-base/srcs/artdaq_daqinterface/rc/contr

[2022-06-16 20:55] eflumerf commented on #56
*Comment by @jcfreeman2 on 2019-02-10 17:41:44*

----

Concerning the <code>local variable 'procinfo_subsystem_has_dataloggers' referenced before assignment</code> error: the problem there is this code snippet from bookkeeping.py:
<pre>
        procinfo_subystem_has_dataloggers = True
        if len([pi for pi in self.procinfos if pi.subsystem == procinfo.subsystem and pi.name == "DataLogger"]) ==

[2022-06-16 20:55] eflumerf commented on #56
*Comment by @eflumerf on 2019-03-26 13:42:24*

----

I have made a couple changes to the fhicl configuration for the eventbuilder_diskwriting simple_test_config, and changed the default for the disable_unique_rootfile_labels option. With these changes, the eventbuilder_diskwriting example now works correctly.

[2022-06-16 20:55] eflumerf opened #55 "If a process dies or enters an error state during boot or config, the run should not proceed"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/21919 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-02-18 21:44:22*

----

As described in Redmine Issue 21695, unless explicitly told otherwise DAQInterface will continue running if a process dies or throws an exception. While this is a good idea from the perspective of keeping a run going, the way DAQI

[2022-06-16 20:55] eflumerf commented on #55
*Comment by @jcfreeman2 on 2019-02-27 20:46:34*

----

I'll narrow the scope of this Issue, as I was overly pessimistic about the behavior of DAQInterface in the event of artdaq process problems before running. The remaining concern before running is if an artdaq process we want in a run dies, DAQInterface should refuse to proceed to the run. If, however, an artdaq process **undergoing the init or

[2022-06-16 20:55] eflumerf commented on #55
*Comment by @jcfreeman2 on 2019-03-02 23:40:50*

----

With commit 10c6499c41f9e4b21c2e9aeaab98fb4e1c0beb68 on the branch feature/issue21919_dont_start_run_if_problem, it's now the case that if we're not in the running state, any artdaq process dying will result in DAQInterface returning to the stopped state.

[2022-06-16 20:55] eflumerf commented on #55
*Comment by @jcfreeman2 on 2019-03-03 00:05:00*

----

Crucial point: the change in behavior here applies when we've set DAQINTERFACE_PROCESS_MANAGEMENT_METHOD to "direct".

[2022-06-16 20:55] eflumerf commented on #55
*Comment by @eflumerf on 2019-03-21 14:04:25*

----

Code review and differential testing complete. Merged into develop.

[2022-06-16 20:55] eflumerf opened #54 "DAQInterface should algorithmically determine whether an artdaq process is critical"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/22061 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-03-05 18:37:41*

----

Thanks to Redmine Issue 21695, at the current head of develop DAQInterface, when run in direct process management mode, will not stop running if a process dies or throws an exception unless that process's label is on a critical li

[2022-06-16 20:55] eflumerf commented on #54
*Comment by @jcfreeman2 on 2019-03-14 18:35:44*

----

A further discussion on this topic occurred at this past Monday's artdaq meeting, and it concerned overriding DAQInterface's algorithmic decisions about whether or not a process was critical. Essentially, the question is: what interface do we provide the DAQInterface user with in order for them to override DAQInterface's default decisions? Her

[2022-06-16 20:55] eflumerf commented on #54
*Comment by @jcfreeman2 on 2019-03-19 14:53:43*

----

More discussion took place at the meeting yesterday. It was agreed that on each line of the critical process override file, along with the process label regex and the fraction of required processes, there should be a third field, the minimum absolute number of processes whose labels match the regex. So, e.g.:
<pre>
EventBuilder.* 0.5 2
</pre>

[2022-06-16 20:55] eflumerf commented on #54
*Comment by @jcfreeman2 on 2019-03-20 03:46:07*

----

With commit 5b998ffd6e17b5aa78f0715fee67e55937887e0a on feature/issue22061_critical_processes, the following applies:

If the environment variable DAQINTERFACE_PROCESS_REQUIREMENTS_LIST is set when DAQInterface is launched, DAQInterface interpret that environment variable as referring to a file which contains a set of rules for when process de

[2022-06-16 20:55] eflumerf commented on #54
*Comment by @eflumerf on 2019-03-20 20:40:29*

----

There should be an example DAQINTERFACE_PROCESS_REQUIREMENTS_LIST in the docs directory. This could serve a documentation for the fallback set of rules...
default_process_requirements never appears to be set or checked.

[2022-06-16 20:55] eflumerf commented on #54
*Comment by @jcfreeman2 on 2019-03-21 22:09:29*

----

The head of feature/issue22061_critical_processes, b64e8a7709a469e44ace8c361bfe128ea62aabea, now implements Eric's suggestions. The name of the example file is docs/process_requirements_list_example. In addition to this, Eric mentioned to me offline that the default requirement for eventbuilders should be that there's at least one, so that's b

[2022-06-16 20:55] eflumerf commented on #54
*Comment by @jcfreeman2 on 2019-03-24 19:15:33*

----

A note to the reviewer: this branch can't currently be merged into develop without conflicts, since there's logic from feature/issue21919_dont_start_run_if_problem in manage_processes_direct.py which is based on the v3_04_00 model of a critical process list. After testing this branch, notify me and I'll merge it into develop.

[2022-06-16 20:55] eflumerf commented on #54
*Comment by @eflumerf on 2019-03-25 14:36:42*

----

The feature works as advertised. One final comment: the message that prints when DAQInterface is performing a default action:
<pre>
Error: loss of process component02 will now end the run, since it's a
BoardReader and there are no special rule(s) for it in the file
$DAQINTERFACE_PROCESS_REQUIREMENTS_LIST (if the file exists)
</pre>
could possibl

[2022-06-16 20:56] eflumerf opened #53 "DAQInterface should allow for messagefacility overrides even if artdaq_mfextensions isn't available"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/22089 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-03-07 21:45:42*

----

Right now, both under pmt and direct process management, whether or not users can override/modify the default messagefacility FHiCL generated by artdaq is dependent on whether or not artdaq sees that artdaq_mfextensions is availab

[2022-06-16 20:56] eflumerf commented on #53
*Comment by @jcfreeman2 on 2019-03-08 22:04:19*

----

With commit 49581718de7138a1c66b80c181873fd90c58fd7b available on the feature/issue22089_support_no_mfextensions branch, edits to MessageFacility.fcl in the DAQInterface working directory (or, if the DAQINTERFACE_MESSAGEFACILITY_FHICL environment is set by someone, whatever file that variable points to) will make it to the artdaq processes' Me

[2022-06-16 20:56] eflumerf commented on #53
*Comment by @eflumerf on 2019-03-21 14:13:45*

----

Should there be an option to DAQInterface if you want to use an artdaq_mfextensions destination, but don't want to start mfviewer?

[2022-06-16 20:56] eflumerf commented on #53
*Comment by @jcfreeman2 on 2019-03-21 19:44:20*

----

That feature's already available via the use_messageviewer option in the settings file (https://cdcvs.fnal.gov/redmine/projects/artdaq-utilities/wiki/The_settings_file_reference)

[2022-06-16 20:56] eflumerf commented on #53
*Comment by @eflumerf on 2019-10-23 15:59:19*

----

Code reviewed and differential testing shows resolution of issue. Merging into develop.

[2022-06-16 20:56] eflumerf opened #52 "Please add artdaq_daqinterface support for book-keeping firstLoggerRank"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/22130 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-03-13 19:36:50*

----

This is an alias to Redmine Issue 22129

[2022-06-16 20:56] eflumerf opened #51 "Can the ProtoDUNE variant of DAQInterface be absorbed into standard DAQInterface?"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/22137 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-03-14 22:49:31*

----

Since 2-3 years ago it was decided that JCOP, rather than DAQInterface, would be the artdaq process control mechanism on ProtoDUNE, there's been a special ProtoDUNE variant of DAQInterface, resident on the feature/protodune branch

[2022-06-16 20:56] eflumerf commented on #51
*Comment by @jcfreeman2 on 2019-03-24 19:31:38*

----

Another issue to consider: the ProtoDUNE variant of DAQInterface uses bookkeeping which is very clearly ProtoDUNE-specific. E.g., it expects users to set "<code>zmq_fragment_connection_out</code>" in boot.txt, and then it uses that value not only to set the zmq_fragment_connection_out FHiCL parameter in the configurations, but also to set the

[2022-06-16 20:56] eflumerf commented on #51
*Comment by @jcfreeman2 on 2019-04-03 20:23:34*

----

On the ProtoDUNE cluster, with the head of the forked-off-of-develop feature/issue22137_daqinterface_usable_for_protodune branch (3e28635914f740873c54f9f118a75e5d9f0165be), I'm able to run JCOP with ToySimulators and recreate the behavior I get if I use the ProtoDUNE variant of DAQInterface they use on the cluster (v3_00_06o). See, e.g., np04-

[2022-06-16 20:56] eflumerf commented on #51
*Comment by @jcfreeman2 on 2019-04-08 16:59:44*

----

To the reviewer of this issue: in order to test this on the ProtoDUNE cluster, you'll need to use the DAQInterface in my working area for the issue branch, /nfs/home/np04daq/.jcfree/artdaq-utilities-daqinterface, rather than the standard DAQInterface which JCOP uses. If you're planning to run on partition <N>, the way to do this is:
<pre>
cd /

[2022-06-16 20:56] eflumerf commented on #51
*Comment by @bieryAtFnal on 2019-04-11 18:06:21*

----

I've tested this new version of DAQInterface at protoDUNE in Partition 5 following John's instructions.  I'll still need to test it in a partition with real hardware to verify that the Timing System partition number and the ZeroMQ offset will be correctly used by the appropriate BoardReaders.  I'll try to do that tomorrow.

One issue that I n

[2022-06-16 20:56] eflumerf commented on #51
*Comment by @jcfreeman2 on 2019-04-11 18:51:07*

----

Apologies for the oversight - I've added commit 7b4fc7f0cb04ca6b2e3ff38c6683fc2cf6d970f5 to the issue branch, which appends the "dl" token regardless of whether it's eventbuilders or dataloggers writing root files to disk.

[2022-06-16 20:56] eflumerf commented on #51
*Comment by @bieryAtFnal on 2019-04-12 19:13:44*

----

I tested the new version of DAQInterface in Partition 0 at protoDUNE.  The runs were

7588 - baseline with existing DAQInterface
7589 - new DAQI, but I forgot to enable triggers
7590 - new DAQI
7591 - new DAQI
7592 - baseline after restoring the standard version of DAQI

For these tests, I needed to modify /nfs/sw/artdaq/DAQInterface/source_m

[2022-06-16 20:56] eflumerf commented on #51
*Comment by @jcfreeman2 on 2019-04-13 00:19:49*

----

Merged feature/issue22137_daqinterface_usable_for_protodune into develop s.t. the new head of develop is at cc97796c7fca59ef755359cf6a30635aea625e03. No conflicts during merge. Marking this as "Reviewed".

[2022-06-16 20:56] eflumerf opened #50 "DAQInterface should handle SIGHUP, SIGTERM, etc. as gracefully as possible"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/22146 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-03-15 16:26:53*

----

This Issue is motivated by Eric's Redmine Issue 22095, in which he observed that sometimes when using run_demo.sh not all artdaq processes (especially datalogger) appeared to get cleaned up. Perhaps related, running the demo confi

[2022-06-16 20:56] eflumerf commented on #50
*Comment by @jcfreeman2 on 2019-03-24 04:00:40*

----

Resolved at the head of the feature/issue22146_handle_signals branch, commit a9bbd7dcaa1a27c09798f88ef4d0c1a7f82b9576.

DAQInterface will now enter the recover transition (i.e., sending a stop and then a shutdown to artdaq processes found in the running state before killing them, most notably resulting in a correctly-saved root file) if it rec

[2022-06-16 20:56] eflumerf commented on #50
*Comment by @eflumerf on 2019-03-25 16:42:03*

----

I've noticed a few cases where closing the DAQInterface window has led to a python process remaining active, with /tmp/daqitnerface-$USER/DAQInterface_partition*.log showing no activity. I'm not sure what the workaround might be, other than making sure to proceed with default handlers after running the DAQInterface signal handler...

def_term_ha

[2022-06-16 20:56] eflumerf commented on #50
*Comment by @jcfreeman2 on 2019-03-25 22:23:22*

----

To address Eric's findings, with commit 3d6d95ef1a9b10169285b8bab25de68f2e024752 on feature/issue22146_handle_signals, after putting itself through the recover transition, DAQInterface will then call the default signal handler, and then as an insurance policy call os._exit, which is a harder exit than sys.exit.

[2022-06-16 20:57] eflumerf commented on #50
*Comment by @eflumerf on 2019-03-28 18:39:11*

----

I've tried closing the window at several mid-transition and between transitions, and now no longer see the issue. Code review looks good. Merged into develop.

[2022-06-16 20:57] eflumerf opened #49 "DAQInterface v3_04_00 has problems saving the run record to the database"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/22194 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-03-22 21:52:04*

----

This was discovered this afternoon as part of SBND testing. Basically, there are two problems:

-put_config_info_base performs a "sanity check" which doesn't account for the fact that "localhost" and "$HOSTNAME" are referring to t

[2022-06-16 20:57] eflumerf commented on #49
*Comment by @jcfreeman2 on 2019-03-22 22:11:46*

----

Changes are available on commit 0537d22dc9062a3843872c7b98ab17cc31da8a92 of feature/issue22194_save_to_database.

[2022-06-16 20:57] eflumerf opened #48 "DAQInterface should have a "help" option"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/22197 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-03-24 04:18:54*

----

While setting up the DAQInterface environment via DAQInterface's source_me file provides users with the link to the DAQInterface wiki manual as a means of providing them help, Ron pointed out that it would be useful if a sort of c

[2022-06-16 20:57] eflumerf commented on #48
*Comment by @jcfreeman2 on 2019-08-02 18:11:51*

----

Ready to be reviewed. At the head of feature/issue22197_daqinterface_cheatsheet, commit e89b9f6fd54fadf50f85573da2915ad6da38c9c0, if a user types "DAQInterface -h" or "DAQInterface --help", instead of launching DAQInterface - the behavior when no arguments are given - DAQInterface will print out the following cheatsheet, which describes what t

[2022-06-16 20:57] eflumerf commented on #48
*Comment by @jcfreeman2 on 2019-08-02 18:34:45*

----

Apologies - I left out a file from the previous commit. The new-head of feature/issue22197_daqinterface_cheatsheet, 442d4f0acb9b4db5ca9b252cad48b34806b27f4f, fixes this.

[2022-06-16 20:57] eflumerf commented on #48
*Comment by @bieryAtFnal on 2019-08-06 19:11:54*

----

I've confirmed that the help message listed in this Issue is printed out with the '--help' option when running on the **22197** branch.

[2022-06-16 20:57] eflumerf opened #47 "The use of a RoutingMaster in an artdaq system with subsystems seems to need special handling for the BinaryNetOutput(s)"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/22255 (FNAL account required)*
*Originally created by @bieryAtFnal on 2019-04-01 17:39:20*

----

In order to help guide my thinking about the possible use of artdaq processes for data selection tasks in the DUNE DAQ, I created a sample configuration called "dune_sample_system" that has been committed to the "develop" branch

[2022-06-16 20:57] eflumerf commented on #47
*Comment by @bieryAtFnal on 2019-04-01 21:53:25*

----

I committed the temporary code change in bookkeeping.py that I mentioned above to branch feature/22255_Subsystem_RMFixes in the artdaq-utilities-daqinterface repo.

[2022-06-16 20:57] eflumerf commented on #47
*Comment by @bieryAtFnal on 2019-04-02 13:47:46*

----

I wanted to save links to the subsystem documentation that I've found, just for future reference:

https://cdcvs.fnal.gov/redmine/projects/artdaq-utilities/wiki/Daqinterface_develop_subsystem_instructions_

https://cdcvs.fnal.gov/redmine/projects/artdaq/wiki/Subsystems

[2022-06-16 20:57] eflumerf commented on #47
*Comment by @bieryAtFnal on 2019-04-10 21:33:02*

----

I've committed another modification to bookkeeping.py on this branch.

When running a system with the pdune_swtrig sample config, I noticed that the RoutingMaster was complaining bitterly about an unexpected rank sending it routing_table_update acknowledgements.  It turned out to be the DFO in that sample config that was sending the ACKs.  It

[2022-06-16 20:57] eflumerf commented on #47
*Comment by @jcfreeman2 on 2019-04-19 15:30:39*

----

Issue is ready for review.

I consider this issue to be resolved with commit 3a972492fbe2bb0918e4998e7e6622f931e6ba8e on the feature/22255_Subsystem_RMFixes branch. It's now the case that without any special add-ons (like checking if "DFO" is in a process's label), DAQInterface will make sure that if there's a parent subsystem with eventbuilde

[2022-06-16 20:57] eflumerf commented on #47
*Comment by @ron003 on 2019-05-09 19:46:48*

----

I did test this against develop but using a modified dune_sample_system with only two subsystems.

<pre>
 ./run_demo.sh --no_om --config dune_sample_system --comps felixHF01 felix0{1,2,3} ssp0{1,2,3} --
</pre>

[2022-06-16 20:57] eflumerf opened #46 "have daqinterface support the specification of cores on which the various artdaq processes can run"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/22258 (FNAL account required)*
*Originally created by @ron003 on 2019-04-01 22:31:21*

----

For SBN, it seems highly likely that we will need to avoid running artdaq processes on core 0.
We need a way to tell daqinterface this.
As we discussed in the group meeting, it is desirable that no-specification be allowed (i.e backwa

[2022-06-16 20:57] eflumerf commented on #46
*Comment by @jcfreeman2 on 2019-04-06 16:23:23*

----

With commit ca6aad7767ae8504b7bf1b23f56093ed16895fa7 on branch feature/issue22258_specify_cores, when DAQInterface manages processes in "direct" mode you can instruct it to launch each artdaq process prefaced with "<code>taskset --cpu-list <cpulist></code>". The way to do this is just to edit $DAQINTERFACE_SETTINGS by adding this line:
<pre>
t

[2022-06-16 20:57] eflumerf commented on #46
*Comment by @jcfreeman2 on 2019-04-14 00:32:42*

----

I consider this issue resolved. At the now-head of feature/issue22258_specify_cores, f4e8d7180e9e6bc1efdb0f54713c1e2cec6eb93d, you can tell DAQInterface to launch all artdaq processes with taskset by providing the argument to <code>taskset --cpu-list</code> by adding a line like this to $DAQINTERFACE_SETTINGS:
<pre>
allowed_processors: <list>

[2022-06-16 20:57] eflumerf opened #45 "When a partition has never been run on, there's a problem printing to screen"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/22278 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-04-02 20:47:57*

----

In order for DAQInterface to successfully capture signals (see Redmine Issue 22146), I discovered I had to get rid of the tee-ing of the output into the DAQInterface logfile. Instead, I switched to using tail -f on the logfile to

[2022-06-16 20:57] eflumerf commented on #45
*Comment by @jcfreeman2 on 2019-04-30 19:56:29*

----

This issue's resolved with commit 02420de84301f57fd48c07c16f123e1480afc6a9 on the branch feature/issue22278_dont_skip_first_ten_output_lines. To review it, confirm that at the head of develop, if you try running DAQInterface on a partition that you've never run it on before, that you don't see a message like the following:
<pre>
DAQInterface i

[2022-06-16 20:58] eflumerf commented on #45
*Comment by @jcfreeman2 on 2019-06-27 18:25:02*

----

Reviewed by Ron on Tuesday.

[2022-06-16 20:58] eflumerf opened #44 "DAQInterface should allow for a child subsystem to have more than one parent subsystem"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/22388 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-04-16 19:03:04*

----

Right now, DAQInterface bookkeeping is set up so that a given subsystem can only have one parent subsystem. This requirement should be loosened so that a subsystem can have multiple parents. The requirement that a subsystem can ha

[2022-06-16 20:58] eflumerf commented on #44
*Comment by @jcfreeman2 on 2019-04-23 20:28:42*

----

I've created issue branch feature/issue22388_multiple_parent_subsystems to handle this. Right now, with commit 3cc0ab787d4cf8758dbec1e81c81677e54d8ebda, I've been able to do the following:

- Sanity check: recreate the dune_sample_system FHiCL produced before my work on Redmine Issue 22555 (i.e., when Kurt's DFO-specific bookkeeping was in pla

[2022-06-16 20:58] eflumerf commented on #44
*Comment by @jcfreeman2 on 2019-04-25 22:18:15*

----

I consider this issue to be resolved and ready for review. Relevant notes are in the previous entry on this Issue.  One thing to note is that I was running into problems when a parent subsystem's eventbuilder was handling more than one fragment AND a routing_master was mediating data transfer between the parent subsystem's eventbuilder and chi

[2022-06-16 20:58] eflumerf commented on #44
*Comment by @jcfreeman2 on 2019-04-26 15:40:31*

----

After discussing with Eric, it turns out that in order to run with an eventbuilder in a parent subsystem sending more than one fragment per event to an eventbuilder in a child subsystem when a routing_master is involved, artdaq's feature/CFG_MultipleFragmentsPerRead branch currently needs to be used. When this change to artdaq is made, feature

[2022-06-16 20:58] eflumerf commented on #44
*Comment by @eflumerf on 2019-06-24 17:27:04*

----

The code changes make sense and the example runs and builds the expected configuration.

[2022-06-16 20:58] eflumerf commented on #44
*Comment by @jcfreeman2 on 2019-06-26 19:07:27*

----

With Eric's review, I've merged feature/issue22388_multiple_parent_subsystems into develop. I had to resolve a couple of conflicts, but now on the head of develop (8caf59662521674e3bf7508a9da32c9ea751fcf1)  I've performed a couple of successful sanity checks:
-Bookkeeping for run 1001771 is in agreement with 8396 on the ProtoDUNE cluster (a pr

[2022-06-16 20:58] eflumerf opened #43 "Bookkeeping changes for allowing multiple request domains within a subsystem"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/22534 (FNAL account required)*
*Originally created by @eflumerf on 2019-05-08 02:23:55*

----

In the model where the Request messages also serve to provide Routing information, "push mode" BoardReaders will need to have a RequestReceiver configured, but it should be on a separate channel from the Requests coming from EventBu

[2022-06-16 20:58] eflumerf opened #42 "DAQInterface makes inappropriate assumptions about versions of software being used"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/22778 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-06-20 17:04:16*

----

This Issue is a de-facto alias to Redmine Issue 22777, found in the artdaq Redmine Issues.

[2022-06-16 20:58] eflumerf opened #41 "DAQInterface should handle situations where the hostname in the boot file and the hostname returned by gethostname differ"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/22785 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-06-20 19:53:06*

----

DAQInterface saves the names of a run's logfiles in the run record by looking in the directories where it determines the artdaq processes would have written them out. In the case of private subnets, this can cause issues - in SBND

[2022-06-16 20:58] eflumerf commented on #41
*Comment by @jcfreeman2 on 2019-06-23 18:11:48*

----

This Issue's been resolved; it can be tested using the head of the feature/issue22785_better_logfile_locating branch, commit 88773c6f5cf99edfac8e7743271c794d228377d9

[2022-06-16 20:58] eflumerf opened #40 "DAQInterface should provide a hook to allow an arbitrary experiment-provided function to run periodically"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/22806 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-06-24 21:21:02*

----

Wes pointed out it would be useful for SBND if, as part of operations, a hook was available in DAQInterface to periodically query and report the individual statuses of artdaq processes. A way to do this should be provided which is

[2022-06-16 20:58] eflumerf commented on #40
*Comment by @jcfreeman2 on 2019-06-26 20:31:59*

----

Using DAQInterface at the head of feature/issue22806_provide_experiment_hooks, commit bae537b08e7e4e8369896d65a0b5365308446bb6, you can implement a function which executes once a second in DAQInterface of the form
<pre>
def perform_periodic_action_base(self):
     pass
</pre>
as long as it's (A) defined in a file called daqinterface_overrides_

[2022-06-16 20:58] eflumerf commented on #40
*Comment by @jcfreeman2 on 2019-07-01 20:56:20*

----

After discussion at today's meeting, added the possibility to implement a check_config_base function, which should throw an exception if a problem's observed just before DAQInterface proceeds to send the init transition to the artdaq processes. If an exception is thrown, DAQInterface goes back to "booted" from "configuring". Commit c6d70bd8827

[2022-06-16 20:58] eflumerf commented on #40
*Comment by @eflumerf on 2019-10-23 18:26:14*

----

Code reviewed and tested. I have added a small python file to the docs directory as a guide for experiments wishing to use this functionality.

[2022-06-16 20:58] eflumerf opened #39 "DAQInterface bookkeeping should only include one copy of the host_map in destinations, as well as sources"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/22924 (FNAL account required)*
*Originally created by @bieryAtFnal on 2019-07-11 20:12:08*

----

As part of DFO testing at protoDUNE, I saw problems in which the DFO art process took a long time to start (30-50 seconds), and I believe that this is because of the very-large Config file for the DFO (148,000+ characters).

The

[2022-06-16 20:58] eflumerf commented on #39
*Comment by @jcfreeman2 on 2019-07-15 20:02:04*

----

With commit c2eba590d564a219b81e673e590ca79b8ab5612d on the feature/issue22924_remove_host_map_entries branch, I essentially just made the same one-line change Kurt did to create his DFO-friendly DAQInterface on the ProtoDUNE cluster.

[2022-06-16 20:58] eflumerf commented on #39
*Comment by @bieryAtFnal on 2019-07-17 20:00:56*

----

I've validated this code change via code inspection.
It looks great to me.

[2022-06-16 20:59] eflumerf opened #38 "daqinterface scripts should be able to tell if their environment hasn't been setup properly"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/22980 (FNAL account required)*
*Originally created by @ron003 on 2019-07-23 20:12:26*

----

I do and get:
<pre>
/home/ron/work/artdaqPrj/demo2-brett/DAQInterface
ron@ronlap77 :^) . mock_ups_setup.sh
--2019-07-23_15:08:20--
/home/ron/work/artdaqPrj/demo2-brett/DAQInterface
ron@ronlap77 :^) listdaq
listdaqcomps.sh       listda

[2022-06-16 20:59] eflumerf commented on #38
*Comment by @jcfreeman2 on 2019-07-24 19:49:30*

----

With commit 8cdcffb7bd7b6adfce61d6129fda98ff964f0235 at the head of feature/issue22980_exit_without_environment, the DAQInterface scripts will exit out with an error message if they see that the user hasn't set up the DAQInterface environment.

[2022-06-16 20:59] eflumerf commented on #38
*Comment by @ron003 on 2019-07-25 21:14:12*

----

verified:
<pre>
/home/ron/work/artdaqPrj/demo2/DAQInterface
ron@ronlap77 :^) . ./mock_ups_setup.sh
--2019-07-25_16:00:45--
/home/ron/work/artdaqPrj/demo2/DAQInterface
ron@ronlap77 :^) listdaqinterfaces.sh
/home/ron/work/artdaqPrj/demo2/artdaq-utilities-daqinterface/bin/daqinterface_functions.sh: line 5: +  *  : syntax error: operand expected (erro

[2022-06-16 20:59] eflumerf opened #37 "DAQInterface kills processes across partitions on terminate"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23015 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-07-30 19:22:35*

----

Just discovered on the ProtoDUNE cluster: when running in direct process mode, when DAQInterface is sent the terminate transition it can kill not only the artdaq processes associated with its partition, but also artdaq processes o

[2022-06-16 20:59] eflumerf commented on #37
*Comment by @jcfreeman2 on 2019-07-31 18:04:21*

----

Resolved with commit 340b9089999ac639a17f2765f00d95901aa98051 at the head of feature/issue23015_kill_only_within_partition. Basically, to fix this all I needed to do was add the partition number into the grep performed when searching for artdaq processes to kill.

[2022-06-16 20:59] eflumerf commented on #37
*Comment by @jcfreeman2 on 2019-08-01 17:53:43*

----

Reviewed by Kurt, who saw that when performing two runs simultaneously on partitions 4 and 5 on mu2edaq12 that terminating the partition 4 run had no effect on the partition 5 processes. I've merged the feature branch into the develop branch.

[2022-06-16 20:59] eflumerf opened #36 "DAQInterface could launch processes in parallel across nodes"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23029 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-07-31 19:18:14*

----

Something that came up during Monday's artdaq meeting: when we're using direct process management, during the boot transition DAQInterface sequentially launches processes node-by-node. E.g., if it's booting artdaq processes on bot

[2022-06-16 20:59] eflumerf commented on #36
*Comment by @jcfreeman2 on 2019-08-03 18:07:28*

----

tl;dr : going parallel is not working out as hoped.

I've been running tests on the mu2edaq cluster where I run 20 boardreaders each on mu2edaq01, mu2edaq04, mu2edaq05, mu2edaq06, mu2edaq07, mu2edaq10, mu2edaq11, mu2edaq12 (8 nodes == 160 boardreaders) along with an eventbuilder and datalogger on the same node I'm running DAQInterface on (mu2e

[2022-06-16 20:59] eflumerf commented on #36
*Comment by @jcfreeman2 on 2019-12-19 18:25:29*

----

During a discussion of SBN needs at yesterday's meeting, one of those needs was "a faster boot transition". It was agreed that attempting to launch processes in a parallel across nodes was a good idea. At the time, I'd forgotten that I'd attempted this back in the summer without much success, but it's at least worth a second attempt given that

[2022-06-16 20:59] eflumerf opened #35 "DAQInterface should support multiple products areas in its settings file"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23068 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-08-06 18:48:14*

----

Currently, DAQInterface requires that xmlrpc_c, fhiclcpp and root can all be set up after source-ing a single products directory, described with the "productsdir_for_bash_scripts" variable in the DAQInterface settings file ($DAQIN

[2022-06-16 20:59] eflumerf commented on #35
*Comment by @jcfreeman2 on 2019-08-07 16:14:32*

----

This issue was resolved by Ron, using branch feature/23043_multiple_products_and_setup_param, and reviewed by me. In a nutshell:

The installation which used xmlrpc_c in its local ./products subdirectory but the gcc in cvmfs is ~jcfree/artdaq-demo_v3_06_00 on the mu2edaq cluster. While ~jcfree/artdaq-demo_v3_06_00/artdaq-utilities-daqinterface

[2022-06-16 20:59] eflumerf opened #34 "DAQInterface should take advantage of the new valid/invalid configuration concept in artdaq_database"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23137 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-08-16 16:00:18*

----

As described in Redmine Issue 23008, Gennadiy's implemented functionality in artdaq_database such that a configuration can be marked "invalid". DAQInterface should take advantage of this functionality, throwing an exception if som

[2022-06-16 20:59] eflumerf commented on #34
*Comment by @jcfreeman2 on 2019-08-16 22:12:24*

----

Resolved with commit 34cedad0243701a41b8d0eecb50113ed8c98dec1 at the head of the feature/issue23137_only_use_valid_configurations branch. The reviewer may be able to get away with a code inspection, although it would be good to follow the steps described in Redmine Issue 23008 to mask off a config and then try to pass it to DAQInterface. Getti

[2022-06-16 20:59] eflumerf commented on #34
*Comment by @ron003 on 2019-08-26 22:01:14*

----

Setup database:
<pre>
...
elif [[ "$DAQINTERFACE_FHICL_DIRECTORY" == "IGNORED" ]]; then

   #echo "Put code here which sets up the database environment"
   PRODUCTS=`awk '/^productsdir_for_bash_scripts:/{print$2}' $DAQINTERFACE_SETTINGS`
   IFSsav=$IFS; IFS=:; for pp in $PRODUCTS;do IFS=$IFSsav
      test -d $pp/ups -a -f $pp/setup && { . $pp/setu

[2022-06-16 20:59] eflumerf opened #33 "DAQInterface could provide on-demand information about individual artdaq process statuses"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23146 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-08-20 14:36:08*

----

During a conversation I had with Eric and Ryan Rivera yesterday concerning how the OTSDAQ framework could benefit from DAQInterface functionality, it was suggested that it would be useful if DAQInterface could provide information

[2022-06-16 20:59] eflumerf commented on #33
*Comment by @jcfreeman2 on 2019-08-22 19:24:23*

----

This Issue is ready for review using the head of feature/issue23146_artdaq_process_info, commit 09affcb0f2dc46f08db0e2d5e54f6b02dd5ea396. First, to quote the commit comment:

<pre>

    JCF: provide individual artdaq process states on demand

    When status_with_side_effects.sh is executed (or, more generally, the
    state_with_side_effects

[2022-06-16 20:59] eflumerf commented on #33
*Comment by @jcfreeman2 on 2019-10-14 17:27:36*

----

I'm un-resolving this issue thanks to an email Gray sent this morning in which he asked how one could find the port # of an artdaq process. Eric suggested it would be nice if this were something you could query DAQInterface about, and that appears to overlap with this Issue. So, when status_with_side_effects.sh is executed, the output could no

[2022-06-16 20:59] eflumerf commented on #33
*Comment by @eflumerf on 2019-10-17 16:19:19*

----

Is it also possible to return this string as the XMLRPC result?

[2022-06-16 21:00] eflumerf commented on #33
*Comment by @jcfreeman2 on 2019-10-30 03:53:51*

----

With commit d68caf7170e2a2226399f077c78566618ce4cd0f at the head of feature/issue23146_artdaq_process_info, I'm (again) marking this issue as resolved. The following now holds:
- Via XML-RPC, you can call a function in DAQInterface called "artdaq_process_info" which for each artdaq process will list not only its state, but also its socket, sub

[2022-06-16 21:00] eflumerf commented on #33
*Comment by @eflumerf on 2019-10-30 15:09:45*

----

Code reviewed and tested. Merged into develop.

[2022-06-16 21:00] eflumerf opened #32 "just_repeat_run.sh doesn't care what node localhost refers to"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23147 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-08-20 14:56:17*

----

Right now,  just_repeat_run.sh refuses to run without the "--nostrict" option if:

- The artdaq-based code has been changed since the run to be repeated
- The known boardreaders list pointed at by DAQINTERFACE_KNOWN_BOARDREADERS_L

[2022-06-16 21:00] eflumerf commented on #32
*Comment by @jcfreeman2 on 2019-10-21 17:25:51*

----

Now, if you execute just_repeat_run.sh on a node different than the node DAQInterface was on when the run you're trying to repeat was performed, you'll see a message like the following, which is self-explanatory:
<pre>
Checking that DAQInterface is being run on the same host as was used for run 2993...
A difference was found between the host D

[2022-06-16 21:00] eflumerf commented on #32
*Comment by @eflumerf on 2019-10-22 13:29:31*

----

While trying to test this against an old run I had lying around, I got the following notification:
<pre>
A difference was found between the host DAQInterface was run on for
run 2 (/home/eflumerf/Desktop/artdaq-mrb-base/DAQInterface) and the host you're
currently on (ironwork.fnal.gov).
</pre>

Otherwise, code checks out, feature works correctly.

[2022-06-16 21:00] eflumerf commented on #32
*Comment by @jcfreeman2 on 2019-10-22 14:36:02*

----

Thanks for taking a look. Around a week ago I updated DAQInterface so it would prepend the host in front of the working directory as saved in metadata.txt, so if you try to repeat new runs, the script will say something along the lines of
<pre>
A difference was found between the host DAQInterface was run on for
run 2 (mu2edaq13) and the host y

[2022-06-16 21:00] eflumerf opened #31 "exception thrown when attempting to save the run record"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23168 (FNAL account required)*
*Originally created by @ron003 on 2019-08-24 02:23:05*

----

head of develop
Fri Aug 23 21:08:23 CDT 2019: CONFIG transition underway
Config name: demo

Obtaining FHiCL documents...done (0.0 seconds).
Bookkeeping the FHiCL documents...done (0.1 seconds).
Reformatting the FHiCL documents...done

[2022-06-16 21:00] eflumerf commented on #31
*Comment by @ron003 on 2019-08-24 02:28:16*

----

It appears that fill_package_versions has a problem when called with [] packages.

[2022-06-16 21:00] eflumerf commented on #31
*Comment by @jcfreeman2 on 2019-08-26 19:24:58*

----

DAQInterface was creating a malformed regex when it wasn't asked to save any package versions via the "package_hashes_to_save" variable in $DAQINTERFACE_SETTINGS; this has been fixed at the head of feature/issue23168_support_not_saving_package_info (commit 63cab5db50293dc25f7fd433cf656a558857c31b)

[2022-06-16 21:00] eflumerf commented on #31
*Comment by @jcfreeman2 on 2019-08-26 20:23:59*

----

Reviewed by Ron, success.

[2022-06-16 22:32] eflumerf opened #30 "boot.fcl not correctly formed when user adds a variable which is a list"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23224 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-09-04 17:14:25*

----

During DAQInterface regression testing, I noticed that in some runs on the ProtoDUNE cluster, the "boot.fcl" file didn't appear in the FHiCL-ized run record which gets saved in the database. Recreating the problem while running DA

[2022-06-16 22:32] eflumerf commented on #30
*Comment by @jcfreeman2 on 2019-09-05 18:36:06*

----

Now resolved with commit 7fbabacb1495e3312d84165e44762f2c1357e731 at the head of feature/issue23224_fix_boot_dot_fcl. The thing to look for is boot.fcl (as well as DataflowConfiguration.fcl) getting saved, where they weren't getting saved before.

[2022-06-16 22:32] eflumerf commented on #30
*Comment by @gennadiy-fnal on 2019-09-05 21:02:51*

----

Works as expected.

[2022-06-16 22:32] eflumerf opened #29 "When creating boot.fcl, DAQInterface should be able to handle default process values"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23260 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-09-11 19:25:14*

----

The artdaq processes launched by DAQInterface have default values for port (partition-dependent) and subsystem (1), which can be overridden in the file passed on the boot transition (typically called "boot.txt"). E.g., say we have

[2022-06-16 22:32] eflumerf commented on #29
*Comment by @jcfreeman2 on 2019-09-12 17:02:49*

----

Kurt pointed out an even better option - because it means you wouldn't explicitly need to write "default" to denote that there was no value in the boot file - would be to give each process its own table. To take the example above, this would become:
<pre>
[ { name: "EventBuilder" host: "localhost" label: "ParentSubsystemEventBuilder" }, { name

[2022-06-16 22:32] eflumerf commented on #29
*Comment by @jcfreeman2 on 2019-09-13 18:54:45*

----

With commit c61aadc420dbc5c6ce5fb4e5041689e8be998f05 at the head of bugfix/issue23260_handle_default_values_in_database, I'm marking this issue as resolved. As can be seen in, e.g., the archived run record in the database for run 1001814 on the ProtoDUNE cluster, the following are now available:

- For boot.fcl, two lists of tables, referred t

[2022-06-16 22:32] eflumerf commented on #29
*Comment by @bieryAtFnal on 2019-09-18 18:57:13*

----

I have successfully verified the changes associated with this Issue by running tests at protoDUNE with, and without, the changes and comparing the results.

- run 9662 used DAQInterface v3_00_07c and a system that used the DFO (i.e. with two artdaq subsystems)
- run 9663 used DAQInterface v3_00_07c and a system that used the RM (i.e. with one

[2022-06-16 22:32] eflumerf opened #28 "A convenience script could be provided in DAQInterface to tell users where their root files are"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23262 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-09-11 21:08:09*

----

DAQInterface currently has a couple of convenience scripts, documented in its manual, which help users look at the output of their run (e.g., "show_logfile_for_process.sh", which will point users to an artdaq process's logfile giv

[2022-06-16 22:32] eflumerf commented on #28
*Comment by @jcfreeman2 on 2019-09-18 21:40:59*

----

At the head of feature/23262_root_file_info (c8d28363925d8e8def1fcd65a3f143831f1ba802) the show_rootfiles_for_run.sh script is ready for review. The simplest usage is to just pass it the run number:
<pre>
show_rootfiles_for_run.sh <run number>
</pre>
where it will then list the *.root file(s) produced during the run.

For a little more sophist

[2022-06-16 22:32] eflumerf commented on #28
*Comment by @jcfreeman2 on 2019-09-23 20:22:51*

----

Gennadiy played around with the script and had some useful insights into how it could be improved:

- Right now, show_rootfiles_for_run.sh, when asked to display one or more events per file, relies on rawEventDump either already being available in the environment or being something that gets alias-ed in the DAQ setup script for the run in ques

[2022-06-16 22:32] eflumerf commented on #28
*Comment by @jcfreeman2 on 2019-09-25 17:58:24*

----

With commit 566d69fa3d6c10c1dbc8b2ec2529e1059ee13945 at the head of feature/23262_root_file_info, the improvements described in the previous comment have been implemented, and this issue is once again ready for review.

[2022-06-16 22:33] eflumerf commented on #28
*Comment by @gennadiy-fnal on 2019-09-27 20:55:43*

----

Testing this feature branch on icarus-vst01 as icarus.

The artdaq_daqinterface package was built using buildtool and installed into the /software/products_dev directory on icarus-vst01.
<pre>
[icarus@icarus-vst01 DAQInterface]$ ups active |grep artdaq_daqinterface
artdaq_daqinterface  v3_06_01_FB23262 -f NULL

[2022-06-16 22:33] eflumerf commented on #28
*Comment by @jcfreeman2 on 2019-09-29 03:26:24*

----

The previous reviewer comments are addressed at the head of feature/23262_root_file_info (commit 26fdc095ee0e6e9a2560303f3487288ad35fb7f5). To elaborate a bit on what's been done:

- The fact that show_rootfiles_for_run.sh expected the eventbuilder to have produced a root file in the reviewer's test even though the RootOutput module wasn't in

[2022-06-16 22:33] eflumerf commented on #28
*Comment by @jcfreeman2 on 2019-10-07 19:43:36*

----

Reviewed by Gennadiy around lunchtime in our office today.

[2022-06-16 22:33] eflumerf opened #27 "DAQInterface should accept boot files which are in FHiCL form"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23286 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-09-17 16:43:36*

----

As described in the DAQInterface Manual, the file passed to DAQInterface on the boot transition which tells it what artdaq installation to use, where to launch artdaq processes, etc., has its own formatting specifications designed

[2022-06-16 22:33] eflumerf commented on #27
*Comment by @jcfreeman2 on 2019-09-21 19:26:51*

----

This issue is resolved at the head of feature/23286_defhiclize_boot_files, commit de6d6ed6a5c5c9a5240be95c3085e18b082aa41c. If the boot file you provide DAQInterface with for the boot transition has the extension ".fcl", rather than DAQInterface immediately parsing it as a traditional boot file (as described in the DAQInterface Manual at https

[2022-06-16 22:33] eflumerf commented on #27
*Comment by @ron003 on 2019-10-11 22:22:01*

----

I checked out feature/23286_defhiclize_boot_files AND merged in develop.
I looked at Redmine Bug 23260 and guessed that a boot.fcl file for demo (2x2x2) should be:
<pre>
DAQ_setup_script: "/home/ron/work/artdaqPrj/demo3-develop/setupARTDAQDEMO"

PMT_host: "localhost"

# debug level can range from 0 to 4 (increasing order of verbosity)
debug_level:

[2022-06-16 22:33] eflumerf commented on #27
*Comment by @jcfreeman2 on 2019-10-12 01:44:23*

----

The reason the FHiCL described above couldn't be defhiclized is because it doesn't satisfy what I wrote, which is that its "format matches the format of the boot.fcl file which gets saved in the database". If that had been the case, the FHiCL would have looked like this, and would have been defhiclized as expected:
<pre>
DAQ_setup_script: "/ho

[2022-06-16 22:33] eflumerf commented on #27
*Comment by @jcfreeman2 on 2019-10-14 03:33:35*

----

Thinking about this a little more: it may be worth feeding boot.fcl through fhicl-dump before applying defhiclize_boot_file.awk. The logic in defhiclize_boot_file.awk would only need to be slightly modified to accommodate boot.fcl fresh from the database vs. boot.fcl after being passed through fhicl-dump, plus fhicl-dump could catch illegal FH

[2022-06-16 22:33] eflumerf commented on #27
*Comment by @ron003 on 2019-10-14 23:05:41*

----

Starting with boot.txt in artdaq-utilities-daqinterface/simple_test_config/simple_subsystems:
<pre>/home/ron/work/artdaqPrj/demo3-develop/artdaq-utilities-daqinterface/simple_test_config/simple_subsystems
ron@mu2edaq13 :^) cat boot.txt

DAQ setup script: $yourArtdaqInstallationDir/setupARTDAQDEMO

PMT host: localhost

# debug level can range from

[2022-06-16 22:33] eflumerf commented on #27
*Comment by @jcfreeman2 on 2019-10-16 17:09:45*

----

With commit 7820571db5d8d721690136c821acf7b9f95286c2 at the head of feature/23286_defhiclize_boot_files, the code is again ready for review. A couple of points to make since my last entry:

-DAQInterface no longer requires that the boot file, when in FHiCL form, be of the form expected when the boot file is extracted from the database. It mere

[2022-06-16 22:33] eflumerf commented on #27
*Comment by @ron003 on 2019-10-25 21:34:01*

----

pushed commits to feature/23286_defhiclize_boot_files.
This commit has modified utils/fhiclize_boot_file.awk and correspondingly modified rc/control/config_functions_database_v2.py
to generate and deal with (somewhat) "standardized fhicl-dump format".
The rc/control/config_functions_database_v2.py is backward compatible with the non-fhicl-dump for

[2022-06-16 22:33] eflumerf opened #26 "DAQInterface should double-check its assumptions about what a process's logfile is"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23318 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-09-24 18:00:23*

----

An interesting issue came up today. On sbn-daq01, in the run record for run 1705 (/daq/run_records/1705), the logfiles listed in the metadata.txt file were all wrong. Probing more deeply, it appears that no logfiles were actually

[2022-06-16 22:33] eflumerf commented on #26
*Comment by @jcfreeman2 on 2019-09-24 20:54:16*

----

After discussion at today's specially-scheduled 2 PM meeting, it was generally agreed that the proper response for DAQInterface if it determines that a logfile from an artdaq process is not available is to refuse to run.

[2022-06-16 22:33] eflumerf commented on #26
*Comment by @jcfreeman2 on 2019-09-24 20:56:55*

----

Also: the **reason** logfiles weren't available for the run this morning on SBND is that the subdirectories to which artdaq writes its root files weren't ones to which the executor had write access. Eric pointed out at today's meeting that it's nontrivial for artdaq itself to figure this out, which is why determining if this problem exists is

[2022-06-16 22:33] eflumerf commented on #26
*Comment by @jcfreeman2 on 2019-10-01 17:45:06*

----

This issue is resolved with commit 0e141ddc03aa92e845e8a496f4db6e479e9a9327 at the head of bugfix/23318_require_logfiles. To determine the logfile for a given artdaq process, DAQInterface previously accessed bash via Popen and listed the most recent logfile in the expected subdirectory. Now, it also checks to make sure that (A) a logfile exist

[2022-06-16 22:33] eflumerf commented on #26
*Comment by @eflumerf on 2019-10-22 13:53:23*

----

Code review. Tested by `cd daqlogs;chown root:root .;chown -R root:root *`.

[2022-06-16 22:33] eflumerf opened #25 "DAQInterface error handling fails for fill_package_versions"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23395 (FNAL account required)*
*Originally created by @eflumerf on 2019-10-08 16:24:06*

----

Apparently, at some point in the recent past, the function "get_package_version" became "fill_package_versions". The name of the function was not updated in several exceptional log messages, however, causing the original source of t

[2022-06-16 22:33] eflumerf commented on #25
*Comment by @jcfreeman2 on 2019-10-08 16:38:45*

----

Looking at the basic swap out of get_package_version for fill_package_versions, things look fine. Reviewed.

[2022-06-16 22:34] eflumerf commented on #25
*Comment by @eflumerf on 2019-10-08 16:40:03*

----

Applied in changeset https://github.com/art-daq/artdaq_utilities/commit/daqinterface|c96f8589a264e3a14e24e9d9d1202c2b3e3f4a04.

[2022-06-16 22:34] eflumerf commented on #25
*Comment by @eflumerf on 2019-10-08 16:53:22*

----

As a side note, I did check every other usage of .*_name_* in the package, just to make sure they all had valid identifiers.

[2022-06-16 22:34] eflumerf opened #24 "In the event of ssh problems, DAQInterface should avoid hangs"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23403 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-10-09 17:54:01*

----

During the boot transition, DAQInterface makes use of ssh for a number of reasons - to determine the names of the artdaq process logfiles, to test the sourcing of the DAQ setup script on a different node, etc. If the ssh requires

[2022-06-16 22:34] eflumerf commented on #24
*Comment by @jcfreeman2 on 2019-10-17 19:44:09*

----

Resolved with commit 5e42e28fcdfe48abf64be2460edcb2968e30ae6f at the head of bugfix/23403_avoid_ssh_hangs. Now, instead of potentially causing a hang, the ssh calls in the boot transition are given a 30-second timeout. If they return 124, indicating that the timeout got hit, you'll see a message like the following:
<pre>
Nonzero value (124) re

[2022-06-16 22:34] eflumerf commented on #24
*Comment by @eflumerf on 2019-10-22 14:45:57*

----

Code reviewed and tested with & without change

[2022-06-16 22:34] eflumerf opened #23 "If there's an XML-RPC communication issue between nodes, DAQInterface should make it more obvious that that's the problem"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23404 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-10-09 19:17:10*

----

This issue is based on Ron's experience using DAQInterface at Icarus earlier this week, in which he tried running a boardreader on a different host than the host DAQInterface was running on while there was a problem with the XML-R

[2022-06-16 22:34] eflumerf commented on #23
*Comment by @jcfreeman2 on 2019-10-16 19:04:24*

----

Issue resolved. With commit 096f0793f00aeee451323614089eef474a1f7ccc at the head of feature/23404_describe_xmlrpc_problem, the following is now the case:

- If an exception is thrown when querying the status of an artdaq process either because the process has died or because you can't communicate with it via XML-RPC, DAQInterface alerts you to

[2022-06-16 22:34] eflumerf commented on #23
*Comment by @ron003 on 2019-10-26 07:21:21*

----

On mu2edaq cluster, kdestroyed and ssh-agent -k, and specified remote host for component01...
Got timeout message (asking for password).
All worked when ssh-agent running.
Merged feature/23404_describe_xmlrpc_problem into develop.

[2022-06-16 22:34] eflumerf opened #22 "Possible issue with private-network bookkeeping (DAQInterface) on the protoDUNE DAQ cluster"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23431 (FNAL account required)*
*Originally created by @bieryAtFnal on 2019-10-16 21:04:42*

----

When trying to take data at protoDUNE with dune-artdaq software based on e17:s83 and the latest DAQInterface v3_00_07e, I found that data requests were not successfully being transmitted between EventBuilders and BoardReaders.  B

[2022-06-16 22:34] eflumerf commented on #22
*Comment by @jcfreeman2 on 2019-10-18 18:51:24*

----

The issue is resolved via the one and only commit on bugfix/23431_fix_private_network_bookkeeping, 3b3ddf39cb9e2275ed83783c04b3f30bc020933e. Basically, there was a line in bookkeeping intended to determine whether boardreaders were receiving requests or not:
<pre>
res = re.search(r"\n\s*request_mode\s*:\s*\"%s\"" % (token), procinfo.fhicl_used

[2022-06-16 22:34] eflumerf commented on #22
*Comment by @jcfreeman2 on 2019-10-21 20:12:03*

----

Kurt's tested this bugfix branch successfully on the ProtoDUNE cluster, so I'm marking the issue as Reviewed.

[2022-06-16 22:34] eflumerf opened #21 "Upgrade to Python 3"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23470 (FNAL account required)*
*Originally created by @ikatza on 2019-10-24 16:33:41*

----

I've noticed that daqinterface.py uses stuff from Python 2.7 and that at the daq machines at DAB there is no Python 3 under /software/products.

Python 2.7 will reach EOL in a couple of months or so. Is there a plan to ditch Python2.7

[2022-06-16 22:34] eflumerf commented on #21
*Comment by @jcfreeman2 on 2019-10-24 17:13:04*

----

It's an interesting idea, though there aren't imminent plans to make the switch. As you point out, Python 3 isn't used on the computers. Of course, in the next couple of years that will likely change, though it would take only a couple of minutes to get Python 2.x set up in $DAQINTERFACE_USER_SOURCEFILE so DAQInterface sees the Python it expec

[2022-06-16 22:34] eflumerf commented on #21
*Comment by @eflumerf on 2019-12-18 20:41:05*

----

I ran 2to3 on all of DAQInterface's python files, and committed it to feature/23470_Python3_Musings.

[2022-06-16 22:34] eflumerf commented on #21
*Comment by @eflumerf on 2020-12-08 21:45:10*

----

I have replaced the original "Musings" branch with a new one with a minimal set of changes needed to make the demo run. I will probably want to run the whole integration test suite under Python3 to make sure I didn't miss any functionality, but this seems to be a pretty good starting point.

[2022-06-16 22:35] eflumerf commented on #21
*Comment by @jcfreeman2 on 2020-12-08 21:52:00*

----

Obviously regression tests should be very thorough for this kind of engine overhaul, and the integration tests mentioned are a great start. A next step after that I'd suggest would be to step through https://cdcvs.fnal.gov/redmine/projects/artdaq-utilities/wiki/Artdaq-daqinterface (making adjustments, of course - click on the "develop" section

[2022-06-16 22:35] eflumerf opened #20 "DAQInterface sometimes does not wait long enough for logfiles to appear"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23564 (FNAL account required)*
*Originally created by @eflumerf on 2019-11-07 19:32:08*

----

After starting the processes in an otsdaq-based system, I find that DAQInterface goes to the RECOVER state because it could not find the log file of one of the processes. A bit more debugging showed that the issue was related to the

[2022-06-16 22:35] eflumerf commented on #20
*Comment by @jcfreeman2 on 2019-11-07 20:38:05*

----

With the single-commit-branch bugfix/23564_wait_for_logfiles, it's now the case that if DAQInterface determines a logfile's missing, it'll wait two seconds and check again, doing this for a maximum of five checks.

[2022-06-16 22:35] eflumerf commented on #20
*Comment by @eflumerf on 2019-11-07 21:18:22*

----

Code reviewed and tested. Merging into develop.

[2022-06-16 22:35] eflumerf opened #19 "DAQInterface should be able to resurrect an artdaq process"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/23760 (FNAL account required)*
*Originally created by @jcfreeman2 on 2019-12-12 21:10:51*

----

In light of the fact that DUNE is intended to have very low deadtime, if an artdaq process DAQInterface controls dies or enters the error state while running, DAQInterface should be able to relaunch a process of the same type and

[2022-06-16 22:35] eflumerf commented on #19
*Comment by @jcfreeman2 on 2019-12-17 16:32:24*

----

Resolved with commit e2fe23ca71def385a2974305853f967209fd3f06 at the head of feature/23760_resurrect_processes. To test this, you want to add the line
<pre>
shepherd_bad_processes: true
</pre>
to the $DAQINTERFACE_SETTINGS file and use $DAQINTERFACE_PROCESS_MANAGEMENT_METHOD == "direct" before launching DAQInterface. Then if a process dies or

[2022-06-16 22:35] eflumerf opened #10 "Archive run_record_attempted"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/24951 (FNAL account required)*
*Originally created by @gennadiy-fnal on 2020-09-11 01:34:29*

----

For runs that failed to start, backup the /tmp/run_record_attempted_* folder into another folder called something like "failed_run_attempts", and make its path configurable in the user_settings file.

[2022-06-16 22:35] eflumerf opened #11 "artdaq daq interface run sort based on timestamp can lead to bad behavior if folder timestamps are inadvertently changed"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/25185 (FNAL account required)*
*Originally created by @wesketchum on 2020-11-10 22:58:25*

----

Just ran into this on ICARUS:

For some unknown reason the timestamp on one of the folders for an old run was changed, such that doing ls -lrth gave something like:

<pre>
dr-xr-xr-x 2 icarus   E-1052 4.0K Nov 10 13:47 3298
dr-xr-

[2022-06-16 22:35] eflumerf opened #18 "Can daqinterface log the ssh commands it does in such a way that one could possible try to replay (or retry) them in an isolated environment?"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/25272 (FNAL account required)*
*Originally created by @ron003 on 2020-12-02 17:09:12*

----

At icarus, we have had a couple of startup issues in which there have been ssh timeouts.
Pat R. asks "Is there a way I can run [the ssh commands] myself with extra debugging to look at their runtime env?"

It would be nice is daqinter

[2022-06-16 22:35] eflumerf commented on #18
*Comment by @jcfreeman2 on 2020-12-03 05:06:24*

----

On the feature/25272_print_all_ssh_calls branch, if you set the "debug level" in the boot file to 6 (or higher), all ssh commands called by DAQInterface member functions get printed. This excludes ssh calls in utilities.py since these are outside of DAQInterface and thus don't have a concept of "debug level"; however, if $ARTDAQ_DAQINTERFACE_D

[2022-06-16 22:35] eflumerf opened #12 "Have DAQInterface save the launch_attempt file as the "pmt" log file"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/25301 (FNAL account required)*
*Originally created by @eflumerf on 2020-12-09 17:55:10*

----

Right now, DAQInterface saves the stdout and stderr output from all artdaq processes (and more importantly, their art children) to a local file /tmp/launch_attempt_<USER>*partition<PARTITION>. This file could easily be moved to <log

[2022-06-16 22:35] eflumerf commented on #12
*Comment by @eflumerf on 2020-12-09 18:06:49*

----

Implemented on artdaq-utilities-daqinterface:feature/25301_LaunchAttemptFileInLogdir

Tested with run_demo that a logfile is created and symlinked. Also tested multiple runs: symlink is created for each run pointing to the same file.

Not yet tested with multiple hosts or multiple partitions in use.

[2022-06-16 22:35] eflumerf commented on #12
*Comment by @eflumerf on 2020-12-09 18:10:32*

----

-My branch also assumes that the log_directory has "same path" access on all hosts. We may want to have it ssh to each host in the set (in case the path is not shared via NFS or there is NFS load-balancing of log directories going on (ala NOvA))-

Fixed with https://github.com/art-daq/artdaq_utilities/commit/daqinterface|b4fc0f2

[2022-06-16 22:36] eflumerf commented on #12
*Comment by @eflumerf on 2020-12-09 20:42:10*

----

Tested using multiple hosts, a few changes were made to make sure it is supported properly.

[2022-06-16 22:36] eflumerf opened #13 "When a critical artdaq process dies AND the trace script returns nonzero, DAQInterface hangs"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/25320 (FNAL account required)*
*Originally created by @jcfreeman2 on 2020-12-14 22:04:40*

----

On December 6th, icarus' run 3894 hung for the following reason:

- A boardreader process died
- As expected, upon realizing this, DAQInterface entered the recover transition, designed to wind down the artdaq processes as cleanly

[2022-06-16 22:36] eflumerf commented on #13
*Comment by @jcfreeman2 on 2020-12-14 22:43:54*

----

Resolved with feature/25320_handle_process_death_and_trace_error (commit  051abea6c9289f54335f36b940b4b7facca6a1e4)

[2022-06-16 22:36] eflumerf commented on #13
*Comment by @wesketchum on 2021-01-15 19:44:26*

----

We've validated that this works in SBN-FD.

[2022-06-16 22:36] eflumerf opened #14 "Support "prepend" in boot.txt"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/25341 (FNAL account required)*
*Originally created by @eflumerf on 2020-12-18 17:08:53*

----

We added some time ago the ability to have commands prepended onto the Boardreader launch command. This branch adds that ability to boot.txt.

[2022-06-16 22:36] eflumerf commented on #14
*Comment by @eflumerf on 2020-12-18 17:11:32*

----

Implementation on artdaq-utilities-daqinterface:feature/25341_PrependInBootTxt

[2022-06-16 22:36] eflumerf opened #15 "DAQInterface should allow overriding the number of launch checks"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/25565 (FNAL account required)*
*Originally created by @eflumerf on 2021-02-25 20:55:25*

----

Currently, DAQInterface checks 5 times, with 2 seconds between each check, for the artdaq processes to be launched across the entire system. Sometimes, however, ssh and other issues can cause the system longer to boot than 10 second

[2022-06-16 22:36] eflumerf commented on #15
*Comment by @eflumerf on 2021-02-25 20:56:47*

----

Implemented on artdaq-utilities-daqinterface:feature/25565_ConfigurableLaunchChecks

[2022-06-16 22:36] eflumerf commented on #15
*Comment by @gennadiy-fnal on 2021-02-25 21:36:06*

----

Branch feature/25565_ConfigurableLaunchChecks was tested on the DAB cluster with the with the  "max_launch_checks: 11" and "launch_procs_wait_time: 44" options added to the user_settings file; see details in run records for run# 2619 on the DAB cluster.

<pre>
Launching the artdaq processes
%MSG

%MSG-i DAQInterface_partition_1:  DAQ 25-Feb

[2022-06-16 22:36] eflumerf opened #16 "Update compressionLevel in simple_test_config"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/25674 (FNAL account required)*
*Originally created by @eflumerf on 2021-03-24 20:09:08*

----

Reports from SBN indicate that several different compression algorithms are now supported by ROOT, including ZSTD which has much better performance than other types while still achieving reasonable compression levels.

I propose rep

[2022-06-16 22:36] eflumerf commented on #16
*Comment by @eflumerf on 2021-04-05 14:06:22*

----

Changes  implemented on artdaq-utilities-daqinterface:feature/25674_UpdateCompressionLevel

[2022-06-16 22:36] eflumerf commented on #16
*Comment by @eflumerf on 2021-04-05 18:42:28*

----

From SBN Slack:
Gianluca Petrillo  8:34 PM
The test: CPU time of RootOutput for the copy of a uncompressed 50-event data file from run 5292:

|*.                   |*\3.             storage            |_\3.             CPU time           |
| Compression/level | file size  | factor | vs. ZLib | time/event | factor | vs. ZLib |
| no compression

[2022-06-16 22:36] eflumerf opened #17 ".setup_fhiclcpp generator"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/26102 (FNAL account required)*
*Originally created by @gennadiy-fnal on 2021-08-04 21:05:50*

----

The product setup line in .setup_fhiclcpp has the b' ' decoration around strings that can be removed with the .decode('utf-8') function.

[2022-06-16 22:36] eflumerf commented on #17
*Comment by @gennadiy-fnal on 2021-08-05 16:28:30*

----

Code changes are in the bug/26102_setupfhiclcpp_generator branch.

[2022-06-16 22:37] eflumerf opened #8 "new python3 compatible artdaq-utilities-daqinterface/bin/rgang needed"
*This issue has been migrated from https://cdcvs.fnal.gov/redmine/issues/26759 (FNAL account required)*
*Originally created by @ron003 on 2022-03-18 14:29:59*

----

need to update daqinterface's copy of rgang

[2022-06-30 17:03] eflumerf opened #1 "Sanity check on shared memory usage"
DAQInterface could check whether the N EventBuilders * Event Size * Buffer Count will overwhelm a given node's RAM. Related to https://github.com/art-daq/artdaq_core/issues/1

[2022-07-14 15:38] #2 closed, assigned to nobody

[2022-07-25 19:26] gennadiy-fnal opened #6 "Problem associating logfiles with the artdaq processes"
Determining logfiles associated with the artdaq processes...
Problem associating logfiles with the artdaq processes. Output is as follows:

STDOUT:
======================================================================

======================================================================

Traceback (most recent call last):
  File "/daq/software/products/artdaq_daqinterface/v3_11_02/rc/control/da

[2022-07-26 15:34] VCLanNguyen commented on #6
PR for the fix: https://github.com/art-daq/artdaq_daqinterface/pull/7

[2022-07-26 15:44] #6 closed, assigned to nobody

[2022-08-08 18:37] #28 closed, assigned to jcfreeman2

[2022-08-08 18:37] #27 closed, assigned to jcfreeman2

[2022-08-08 18:38] #26 closed, assigned to jcfreeman2

[2022-08-08 18:38] #25 closed, assigned to eflumerf

[2022-08-08 18:38] #24 closed, assigned to jcfreeman2

[2022-08-08 18:38] #23 closed, assigned to jcfreeman2

[2022-08-08 18:38] #22 closed, assigned to nobody

[2022-08-08 18:38] #21 closed, assigned to eflumerf

[2022-08-08 18:39] #20 closed, assigned to jcfreeman2

[2022-08-08 19:30] #84 closed, assigned to jcfreeman2

[2022-08-08 19:30] #82 closed, assigned to jcfreeman2

[2022-08-08 19:30] #17 closed, assigned to gennadiy-fnal

[2022-08-08 19:31] #10 closed, assigned to jcfreeman2

[2022-08-08 19:31] #12 closed, assigned to eflumerf

[2022-08-08 19:31] #13 closed, assigned to nobody

[2022-08-08 19:31] #14 closed, assigned to eflumerf

[2022-08-08 19:31] #16 closed, assigned to nobody

[2022-08-08 19:31] #15 closed, assigned to eflumerf

[2022-08-08 19:33] #29 closed, assigned to nobody

[2022-08-08 19:33] #30 closed, assigned to jcfreeman2

[2022-08-08 19:33] #31 closed, assigned to nobody

[2022-08-08 19:34] #32 closed, assigned to jcfreeman2

[2022-08-08 19:34] #33 closed, assigned to jcfreeman2

[2022-08-08 19:34] #34 closed, assigned to jcfreeman2

[2022-08-08 19:34] #35 closed, assigned to nobody

[2022-08-08 19:34] #37 closed, assigned to jcfreeman2

[2022-08-08 19:35] #38 closed, assigned to nobody

[2022-08-08 19:35] #39 closed, assigned to jcfreeman2

[2022-08-08 19:35] #40 closed, assigned to jcfreeman2

[2022-08-08 19:35] #41 closed, assigned to jcfreeman2

[2022-08-08 19:36] #42 closed, assigned to jcfreeman2

[2022-08-08 19:36] #43 closed, assigned to nobody

[2022-08-08 19:36] #44 closed, assigned to jcfreeman2

[2022-08-08 19:36] #45 closed, assigned to jcfreeman2

[2022-08-08 19:36] #46 closed, assigned to jcfreeman2

[2022-08-08 19:37] #47 closed, assigned to nobody

[2022-08-08 19:37] #48 closed, assigned to jcfreeman2

[2022-08-08 19:37] #49 closed, assigned to jcfreeman2

[2022-08-08 19:39] #81 closed, assigned to eflumerf

[2022-08-08 19:39] #79 closed, assigned to jcfreeman2

[2022-08-08 19:39] #76 closed, assigned to eflumerf

[2022-08-08 19:40] #75 closed, assigned to jcfreeman2

[2022-08-08 19:40] #74 closed, assigned to jcfreeman2

[2022-08-08 19:40] #73 closed, assigned to nobody

[2022-08-08 19:40] #72 closed, assigned to jcfreeman2

[2022-08-08 19:40] #71 closed, assigned to jcfreeman2

[2022-08-08 19:40] #70 closed, assigned to jcfreeman2

[2022-08-08 19:40] #69 closed, assigned to nobody

[2022-08-08 19:40] #77 closed, assigned to jcfreeman2

[2022-08-08 19:44] #63 closed, assigned to jcfreeman2

[2022-08-08 19:44] #68 closed, assigned to nobody

[2022-08-08 19:45] #66 closed, assigned to jcfreeman2

[2022-08-08 19:45] #65 closed, assigned to jcfreeman2

[2022-08-08 19:46] #83 closed, assigned to jcfreeman2

[2022-08-08 19:48] #67 closed, assigned to jcfreeman2

[2022-08-08 19:57] eflumerf commented on #80
Resolved by #112

[2022-08-08 20:08] #88 closed, assigned to jcfreeman2

[2022-08-08 20:08] #89 closed, assigned to jcfreeman2

[2022-08-08 20:08] #90 closed, assigned to jcfreeman2

[2022-08-08 20:08] #91 closed, assigned to jcfreeman2

[2022-08-08 20:08] #92 closed, assigned to jcfreeman2

[2022-08-08 20:08] #93 closed, assigned to jcfreeman2

[2022-08-08 20:08] #94 closed, assigned to jcfreeman2

[2022-08-08 20:08] #95 closed, assigned to jcfreeman2

[2022-08-08 20:08] #97 closed, assigned to jcfreeman2

[2022-08-08 20:08] #99 closed, assigned to jcfreeman2

[2022-08-08 20:08] #100 closed, assigned to nobody

[2022-08-08 20:08] #101 closed, assigned to jcfreeman2

[2022-08-08 20:08] #102 closed, assigned to jcfreeman2

[2022-08-08 20:08] #103 closed, assigned to jcfreeman2

[2022-08-08 20:08] #96 closed, assigned to jcfreeman2

[2022-08-08 20:08] #105 closed, assigned to jcfreeman2

[2022-08-08 20:08] #106 closed, assigned to jcfreeman2

[2022-08-08 20:08] #107 closed, assigned to nobody

[2022-08-08 20:08] #108 closed, assigned to nobody

[2022-08-08 20:08] #87 closed, assigned to jcfreeman2

[2022-08-08 20:08] #86 closed, assigned to jcfreeman2

[2022-08-08 20:08] #85 closed, assigned to jcfreeman2

[2022-08-08 20:08] #61 closed, assigned to jcfreeman2

[2022-08-08 20:08] #60 closed, assigned to jcfreeman2

[2022-08-08 20:08] #59 closed, assigned to jcfreeman2

[2022-08-08 20:08] #58 closed, assigned to jcfreeman2

[2022-08-08 20:08] #57 closed, assigned to jcfreeman2

[2022-08-08 20:08] #56 closed, assigned to jcfreeman2

[2022-08-08 20:08] #55 closed, assigned to jcfreeman2

[2022-08-08 20:08] #54 closed, assigned to jcfreeman2

[2022-08-08 20:09] #53 closed, assigned to jcfreeman2

[2022-08-08 20:09] #52 closed, assigned to jcfreeman2

[2022-08-08 20:09] #51 closed, assigned to jcfreeman2

[2022-08-08 20:09] #50 closed, assigned to jcfreeman2

[2022-08-10 17:55] #8 closed, assigned to ron003

[2022-08-12 20:04] #120 closed, assigned to jcfreeman2

[2022-08-12 20:07] #122 closed, assigned to nobody

[2022-08-12 20:07] #121 closed, assigned to jcfreeman2

[2022-08-12 20:30] eflumerf commented on #123
This is still something that the framework lacks, with SBN (for example), hand-rolling their own OM management, which has shown some fragility in the past.

[2022-08-12 20:35] #124 closed, assigned to nobody

[2022-08-15 13:40] jcfreeman2 commented on #11
It of course would be trivial to perform a true numerical sort of the run record folders. There are two reasons this hasn't been done to date; please let me know if you think these reasons aren't strong enough to not make the change:

1) By performing a time sort rather than a numerical sort, you can effectively support two parallel sets of runs. E.g., on ProtoDUNE we'd count runs whose processes

[2022-08-15 13:54] eflumerf commented on #11
I'll also note that in the listing provided, somehow Run 1 has its group write flag set; normally timestamp changes would not be possible since the run records are not writeable.

[2022-09-13 21:38] ron003 commented on #104
Just some comments on this...
we could try to run a series of artdaq-demos in a wrapper script that uses rgang to get the initial and ending retransmission counts for the boardreader nodes. Also, on the event builder nodes, different values for RCVBUF would be tried. NOTE: a RCVBUF size that allows for at least 10 MTU-sized packets should be used to avoid the rare case where all packets associated

[2022-10-18 19:55] gennadiy-fnal opened #128 "Add run numbers to the recovery transition messages."
Icarus requested to include run numbers in the recovery transition messages.

[2022-10-28 15:29] ron003 opened #129 "more py2/3 string/bytes issues"
[code]